
@model IEnumerable<ProACC_DB.Instance>


<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>

<table class="table" id="tblInstanceCreation">
    <thead>
        <tr>
            <th>Instance Name</th>
            <th>Cre_on</th>
            <th>Project Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a class="txtG" value="@item.InstaceName">@item.InstaceName</a>
            </td>
            <td>
                <a class="txtG" value="@item.Cre_on">@item.Cre_on</a>
            </td>
            <td>
                <a class="txtG" value="@item.Project_ID">@item.Project.Project_Name</a>
            </td>

            <td>
                @*<a href="#" id="btnInstEdit" class="editInstanceCreation fa fa-edit"></a><input type="hidden" value="@item.Instance_id" /> |*@
                &nbsp;&nbsp;&nbsp;
                <a href="#" class="btnInstanceDelete fa fa-trash"></a><input type="hidden" value="@item.Instance_id" />
            </td>
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript">


    $(document).ready(function () {
        $("#tblInstanceCreation").dataTable({
            "order": [[1, 'desc']],
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": false
                }
            ]
        } );
    });

    $(".editInstanceCreation").on("click", function () {
        var id = $(this).next().val();
        $.ajax({
            url: '@Url.Action("GetInstCreationById","InstanceCreation")',
            type: "GET",
            data: { id: id },
            success: function (result) {

                $("#Instid").val(result.Instance_id);
                $("#txtInstanceName").val(result.InstaceName);
                $("#drpProject").val(result.Project_ID);
                $("#Instcre_on").val(result.Cre_on);
                $("#Instcre_By").val(result.Cre_By);
                $("#btnInstanceUpdate").show();
                $("#btnAddNew").show();
                $("#btnInstanceCreate").hide();

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });

    $(".btnInstanceDelete").on("click", function () {
        var id = $(this).next().val();
       var retVal = confirm("Do you want to delete ?");
               if( retVal == true ) {
                $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","InstanceCreation")',
                data: { id:id },
                dataType: "json",
                success: function (response) {
                    if (response == "success") {
                        alert("Instance deleted successfully!");
                        //loadInstanceTable();
                        location.reload();
                        $("#txtInstanceName").val("")
                        $("#drpProject").val(0)
                    }
                    else {
                        alert("Project monitor is in live");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
                  return true;
               } else {
                  return false;
               }
    });
</script>
