@using PagedList;
@using PagedList.Mvc;
@model List<ProACC_DB.UserMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>

<a class="card-title">SAP Consultant List</a>
<hr />

<table id="Index" style="font-size:12px;" class="table-hover table-bordered">
    <thead>
        <tr>
            <th cope="col" style="width:3%;text-align:center;">
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Designation)
            </th>
            <th class="nosort">
                @Html.DisplayNameFor(model => model.First().Phone)
            </th>
            <th class="nosort">
                Email
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().User_Master.UserType)
            </th>
            <th class="nosort">
                Actions
            </th>
        </tr>
    </thead>
    @{int j = 1;}
    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
    {
        <tr>
            <td>
                @j
            </td>
            @{j++;
            }
            <td>
                @Html.DisplayFor(modelItem => item.Data.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.EMail)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Data.User_Master.UserType)
            </td>
            <td>
                <div class="row">
                    &nbsp;&nbsp;<a class="fa fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit!" href="@Url.Action("Edit", "Consultants", new { id = item.Data.Id })"></a> &nbsp;&nbsp;
                    <a class="fa fa-info" data-toggle="tooltip" data-placement="top" title="Details!" href="@Url.Action("Details", "Consultants", new { id = item.Data.Id })"></a> &nbsp;&nbsp;
                    <a class="fa fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Delete!" href="@Url.Action("Delete", "Consultants", new { id = item.Data.Id })"></a>
                </div>
            </td>
        </tr>

    }
</table>



<script>
    $(document).ready(function () {

        $('#Index').DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });
    });
</script>