
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}


    <div class="container">

        <div class="text-center" id="Phasebtn">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 text-left card card-body">
                            <h5 class="card-title">Phase</h5>Click to go Phase Creation Page.
                            <button class="btn btn-outline-focus" id="Me_Phase"><b>Create New Phase</b> </button>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-3 text-left card card-body">
                            <h5 class="card-title">Application Area</h5>Click to go Application Area Creation Page.
                            <button class="btn btn-outline-focus" id="Me_Applicationarea"><b>Create New Application Area</b> </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 text-left card card-body">
                            <h5 class="card-title">Activity Master</h5>Click to go Activity Creation Page.
                            <button class="btn btn-outline-focus" id="Me_Activity"><b>Create New Activity</b> </button>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-3 text-left card card-body">
                            <h5 class="card-title">Pending</h5>Click to go Pending Creation Page.
                            <button class="btn btn-outline-focus" id="Me_Pending"><b>Create New Pending</b> </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 text-left card card-body">
                            <h5 class="card-title">Team Master</h5>Click to go Team Creation Page.
                            <button class="btn btn-outline-focus" id="Me_Team"><b>Create New Team</b> </button>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-3 text-left card card-body">
                            <h5 class="card-title">Status</h5>Click to go Status Creation Page.
                            <button class="btn btn-outline-focus" id="Me_Status"><b>Create New Status</b> </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div id="PhaseCreate">
        @Html.Partial("_Phasecreate", "PhaseMaster")
        @Html.Partial("_PhaseIndex", "PhaseMaster")
    </div>
    <div id="ApplicationA">
        @Html.Partial("_ApplicationAreaCreate", "ApplicationAreaMaster")
        @Html.Partial("_ApplicationAreaIndex", "ApplicationAreaMaster")
    </div>
    <div id="ActivityMaster">
        @Html.Partial("_ActivityCreate", "ActivityMaster")
        @Html.Partial("_ActivityIndex", "ActivityMaster")
    </div>
    <div id="PendingMaster">
        @Html.Partial("_PendingCreate", "Pending")
        @Html.Partial("_PendingIndex", "Pending")
    </div>
    <div id="TeamMaster">
        @Html.Partial("_TeamCreate", "TeamMaster")
        @Html.Partial("_TeamIndex", "TeamMaster")
    </div>
    <div id="StatusMaster">
        @Html.Partial("_StatusCreate", "Status")
        @Html.Partial("_StatusIndex", "Status")
    </div>

    

    <script type="text/javascript">

        $(document).ready(function () {
            $("#PhaseCreate").hide();
            $("#ApplicationA").hide();
            $("#ActivityMaster").hide();
            $("#PendingMaster").hide();
            $("#TeamMaster").hide();            
            $("#StatusMaster").hide();           
        });
        $('#Me_Phase').click(function () {            
            $("#PhaseCreate").show();
            $("#ApplicationA").hide();
            $("#ActivityMaster").hide();
            $("#PendingMaster").hide();
            $("#TeamMaster").hide();
            $("#StatusMaster").hide();
            $("#Phasebtn").hide();
        });
        $("#Me_Applicationarea").click(function () {
            $("#PhaseCreate").hide();
            $("#ApplicationA").show();
            $("#ActivityMaster").hide();
            $("#PendingMaster").hide();
            $("#TeamMaster").hide();
            $("#StatusMaster").hide();
            $("#Phasebtn").hide();
        });

        $("#Me_Activity").click(function () {
            $("#PhaseCreate").hide();
            $("#ApplicationA").hide();
            $("#ActivityMaster").show();
            $("#PendingMaster").hide();
            $("#TeamMaster").hide();
            $("#StatusMaster").hide();
            $("#Phasebtn").hide();
        });

        $("#Me_Pending").click(function () {
            $("#PhaseCreate").hide();
            $("#ApplicationA").hide();
            $("#ActivityMaster").hide();
            $("#PendingMaster").show();
            $("#TeamMaster").hide();
            $("#StatusMaster").hide();
            $("#Phasebtn").hide();
        });
        $("#Me_Team").click(function () {
            $("#PhaseCreate").hide();
            $("#ApplicationA").hide();
            $("#ActivityMaster").hide();
            $("#PendingMaster").hide();
            $("#TeamMaster").show();
            $("#StatusMaster").hide();
            $("#Phasebtn").hide();
        });
        $("#Me_Status").click(function () {
            $("#PhaseCreate").hide();
            $("#ApplicationA").hide();
            $("#ActivityMaster").hide();
            $("#PendingMaster").hide();
            $("#TeamMaster").hide();
            $("#StatusMaster").show();
            $("#Phasebtn").hide();
        });
       

    </script>