@model ProAcc.BL.Model.IssueTrackModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@{
    Html.RenderAction("InstanceSelection", "ProjectMonitor");
}



<div style="padding:1em;" id="CreateIssue">
    <a class="card-title">Create Issue</a>
    <hr />
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4 required">Issue Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtIssueName" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblIssueName">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">PhaseId</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.phaseMaster.Id, ViewBag.PhaseMaster as SelectList, "--Select Phase---", htmlAttributes: new { @class = "form-control", id = "PhaseMaster" })
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblTask">&nbsp;</span>
                </div>
            </div>
            <div class="form-group" id="Task1">
                <label class="control-label col-md-4 required">Task</label>
                <div class="col-md-10">
                    @Html.DropDownList("Task", new SelectList(Enumerable.Empty<SelectListItem>(), "Activity_ID", "Task"), "--Select Task---", htmlAttributes: new { @class = "form-control", id = "TaskList" })
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblTask">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Assigned To</label>
                <div class="col-md-10">
                    <select class="form-control" id="drpAssignedTo">
                        <option value="0">Select AssignedTo</option>
                        @foreach (var item in ViewBag.AssignedTo)
                        {
                            <option value="@item.UserId">@item.Name</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblIndustrySector">&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4 required" for="txtStartDate">Start Date</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtStartDate" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblStartDate">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 required" for="txtEndDate">End Date</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtEndDate" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblEndDate">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Status</label>
                <div class="col-md-10">
                    <select class="form-control" id="ddllist">
                        <option selected>---Select Status---</option>
                        <option>
                            In progress
                        </option>
                        <option>
                            Completed 
                        </option>
                        <option>
                            On hold
                        </option>
                        <option>
                            Resolved waiting for customer conformation
                        </option>
                        <option>Re-opened</option>
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblStatus">&nbsp;</span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4 required">Comments</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="txtArea" name="Description" rows="2" cols="20" style="width:300px;height:100px"></textarea>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblComments">&nbsp;</span>
                </div>
            </div>

        </div>
        <div class="col-12">


        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="col-md-offset-2 col-md-12">
                <button type="button" id="btnIssueCreate" class="btn btn-primary ld-ext-right" onclick="this.classList.toggle('running')">
                    Create
                    <div class="ld ld-ring ld-spin"></div>
                </button>
                <div class="col-lg-3" style="float:right;">
                    @Html.ActionLink("Back to List", "Index", "IssueTrack")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
            $("#IDInstance").prop("disabled", true);
        $('#SubmitInstance').prop("disabled", true);
        $("#Task1").hide();

        $("#CreateIssue").hide();

        $("#txtStartDate").datepicker({
            dateFormat:"dd-M-yy"
         });
        $('#txtEndDate').datepicker({
            dateFormat:"dd-M-yy"
         });
    });

        $("#PhaseMaster").change(function () {
            $("#Task1").show();

            var PhaseId = $(this).val();
             $.ajax({
                type: "POST",
                url: '@Url.Action("GetTask", "IssueTrack")',
                data: { 'Pid': PhaseId },
                success: function (data) {
                    var TaskMaster = $("#TaskList");
                    TaskMaster.empty();
                    TaskMaster.append($('<option/>', {
                        value: 0,
                        text: "---Select Task List---"
                    }));
                    $.each(data, function (index, item) {
                        TaskMaster.append($('<option/>', {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                }
             });
        });

     $('#IDCustomer').change(function () {
            $("#IDInstance").prop("disabled", false);
            var id = $(this).val();
             var select = $("#IDProject");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadProject","Home")',
                data: { 'CustomerId' : id},
                success: function (data) {
                    var select = $("#IDProject");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                    $("#IDProject").prop("disabled", false);
                    $("#IDInstance").prop("disabled", true);
                    $('#SubmitInstance').prop("disabled", true);
                },
                error: function (a) {
                    alert(a);
                }
            });
        });
    $('#IDProject').change(function () {

            var id = $(this).val();
			$('#SubmitInstance').prop("disabled", true);
             var select = $("#IDInstance");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadInstanceforResource","Home")',
                data: { 'ProjectId' : id},
                success: function (data) {
                    var select = $("#IDInstance");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
                    if (data.length > 0) {
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                        $("#IDInstance").prop("disabled", false);
                    }
                    else {
                        $("#IDInstance").prop("disabled", true);
						$('#SubmitInstance').prop("disabled", true);
                    }
                },
                error: function (a) {
                    alert(a);
                }
            });
    });

    $('#IDInstance').change(function () {
                var id = $(this).val();
                if (id == ""||id =="0") {
                     $('#SubmitInstance').prop("disabled", true);
                } else {
					$('#SubmitInstance').prop("disabled", false);
                }
            });
    $('#SubmitInstance').click(function () {
        $("#CreateIssue").show();
   });

    $("#btnIssueCreate").on("click", function () {
        debugger;
        var IssueName = $("#txtIssueName").val().trim();
        var Task = $("#txtTask").val();
         var StartDate=$("#txtStartDate").val().trim();
        var EndDate = $("#txtEndDate").val();
        var Status = $("#txtStatus").val().trim();
        var AssignedTo=$("#drpAssignedTo").val().trim();
        var Comments=$("#txtComments").val().trim();

        if (IssueName == "") {
            $("#lblCompanyName").html("Please enter the Company Name").show().fadeOut(2000);
        }
        else if (Task =="")
        {
            $("#lblIndustrySector").html("Please enter the Industry Sector").show().fadeOut(2000);
        }
         else if (StartDate =="")
        {
            $("#lblContact").html("Please enter the Contact Person").show().fadeOut(2000);
        }
        else if (EndDate == "")
        {
            $("#error-msg").html("Please enter a valid mobile number").show().fadeOut(2000);
        }
        else if (Status=="")
        {
            $("#lblCustomerEmail").html("Please enter the Customer Email").show().fadeOut(2000);
        }
        else if (AssignedTo==0)
        {
            $("#lblCustomerEmail").html("Please enter the Customer Email").show().fadeOut(2000);
        }
        else if (Comments=="")
        {
            $("#lblCustomerEmail").html("Please enter the Customer Email").show().fadeOut(2000);
        }

        else {
            $.ajax({
                    type: "POST",
                url: '@Url.Action("Create","Customers")',
                data: { Company_Name: CompanyName, IndustrySector_ID: IndustrySector, Phone: custphone, Email: custEmail, Contact: Contact, Countrycode: SelectedCountrycode },
                    success: function (response) {
                        if (response == "success") {
                            Notiflix.Notify.Success('Customer Saved successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                             setTimeout(Redirect, 3000);
                        }
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });



        }
    });
</script>