@model IEnumerable<ProACC_DB.Issuetrack>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}


@Styles.Render("~/Content/css/jqGrid")
@Scripts.Render("~/bundles/Scripts/jqGrid")
<style>
    .wrapColumnText {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
    }

    .fit_Data {
        width: fit-content;
    }

    .ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
        background-color: orange;
        background-image: none
    }

    #info_dialog {
        margin-left: 150vh;
    }
</style>

<script>
    //$.jgrid.defaults.width =1000;
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap4';
    $.jgrid.defaults.iconSet = "Octicons";
</script>
<style>
    .ui-jqgrid {
        font-size: 0.8rem
    }

    th.ui-th-column div {
        white-space: normal !important;
        height: auto !important;
        padding: 2px;
        text-align: center;
    }

    .ui-jqgrid .ui-jqgrid-view input, .ui-jqgrid .ui-jqgrid-view select, .ui-jqgrid .ui-jqgrid-view textarea, .ui-jqgrid .ui-jqgrid-view button {
        font-size: 11px !important;
    }

    .ui-jqgrid .ui-jqgrid-bdiv {
        overflow-y: scroll
    }

    #jqGridPager_center {
        visibility: hidden;
    }

    .fixed-sidebar .app-sidebar {
        height: 100% !important;
    }

    .app-main {
        flex: 1;
        display: flex;
        z-index: 8;
        position: relative;
        min-width: 100% !important;
    }

    .app-theme-white.app-container {
        background: #ffffff;
    }

    .app-container {
        min-height: 100%;
    }

    .ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
        /*background-color: orange;
    background-image: none*/
        /*background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);*/
    }
</style>

<table id="mytable2">
</table>
<div id="pager2"></div>


<script>
    var status = 'In progress:In progress; Completed:Completed;On hold:On hold;Resolved waiting for customer conformation:Resolved waiting for customer conformation;Re-opened:Re-opened;'

    var EndDate = function (element, options) {
        var ID = options.rowId;
        $(element).on('keypress', function (e) {
            e.preventDefault();
        })
        var Date = $('#mytable2').jqGrid('getCell', ID, 'StartDate');
        $(element).datepicker({
            duration: "slow",
            dateFormat: "dd/mm/yy",
            autoSize: false,
            changeYear: true,
            changeMonth: true,
            showButtonPanel: false,
            showWeek: false,
            showButtonPanel: true,
            minDate: Date
        });
    };


    $(document).ready(function () {
        $("#mytable2").jqGrid({
            url: '@Url.Action("Getdata","IssueTrack")',
            datatype: "json",
            height: 280,
            colModel: [
                {
                    label: 'Issue', name: 'IssueID', index: 'IssueID', width: 100,align: "center",editable: false
                   
                },
                { label: 'Issuetrack_Id', name: 'Issuetrack_Id', index: 'Issuetrack_Id', width: 100,hidden:true,align: "center",},
                
                {
                    label: 'Phase', name: 'Phase', index: 'Phase', width: 100, editable: false, align: "center", hidden: false
                },
                { label: 'Task', name: 'Task', index: 'Task', width: 100, editable: false ,align: "center"},
                {
                    label: 'Instance', name: 'ProjectInstance_Id', index: 'ProjectInstance_Id', width: 150, editable: false,hidden:true,align: "center",
                    edittype: 'select', formatter: 'select',
                    editoptions: {
                        value: GetInstanceDropDown()
                    }
                },
                { label: 'IssueName', name: 'IssueName', index: 'IssueName', width: 150, editable: false ,align: "center",classes: 'wrapColumnText'},
                {
                    label: 'Status', name: 'Status', index: 'Status', width: 150, editable: true, edittype: "select",classes: 'wrapColumnText',
                    editoptions: {
                       value: "In progress: In progress; Completed: Completed; On hold: On hold; Resolved waiting for customer conformation: Resolved waiting for customer conformation; Re- opened: Re - opened",
                    }
                },
                { label: 'Start Date', name: 'StartDate', index: 'StartDate', width: 100, editable: false, formatter: "date", align: "center",formatoptions: { newformat: "d/m/Y" } },
                {
                    label: 'End Date', name: 'EndDate', index: 'EndDate', width: 100, editable: true, formatter: "date",align: "center", formatoptions: { newformat: "d/m/Y" },
                    editoptions: { dataInit: EndDate },
                },
                {
                    label: 'AssignedTo', name: 'AssignedTo', index: 'AssignedTo', width: 100, editable: false,align: "center",
                     edittype: 'select', formatter: 'select',
                    editoptions: {
                        value: GetUserDropDown()
                    }

                },                
                { label: 'Comment', name: 'Comments', index: 'Comments', width: 150, editable: false,classes: 'wrapColumnText' },
                {
                    label: 'New Comments', name: 'cmt', index: ' ', width: 150, editable: true, hidden: false,
                },

                {
                    label: 'Action', name: 'myac', width: 80, fixed: true, sortable: false, resize: false, formatter: 'actions',align: "center",
                    formatoptions: {
                        keys: true,
                        delbutton: false,
                        align: "center",
                        onEdit: function (rowid) {
                            var ids = jQuery("#mytable2").jqGrid('getDataIDs');
                            for (var i = 0; i < ids.length; i++) {
                                $('#jEditButton_' + ids[i]).hide();
                            }

                        },
                        afterSave: function (rowid, response, postdata, options) {   
                             var ids = jQuery("#mytable2").jqGrid('getDataIDs');
                            for (var i = 0; i < ids.length; i++) {
                                 $('#jEditButton_' + ids[i]).show();
                            }
                           
                            $('#mytable2').trigger( 'reloadGrid' );
                        },
                        afterRestore: function (rowid) {
                             $('#mytable2').trigger( 'reloadGrid' );
                        },
                    }
                },

            ],

            rowNum: 10,
            viewrecords: true,
           // rowList: [10, 20, 30],
           //pager: '#pager2',
            rownumbers: true,
             reload: true,
            reloadAfterSubmit:true,
            sortable: false,
            grouping: false,
            sortname: 'Name',
            sortorder: "asc",
            grouping: false,
            caption: "Isuue Report",
            
            //onSelectRow: editRow
            serializeRowData: function (postdata) {
               
                var ColValue = $("#mytable2").jqGrid('getGridParam', 'selrow');
                var Issuetrack_Id = $("#mytable2").jqGrid('getCell', ColValue, 'Issuetrack_Id');
                
                var Status = postdata.Status;
                var EndDate = postdata.EndDate;
                var cmt = postdata.cmt
                var Issuetrack_Id = Issuetrack_Id
                 var Message='Do you Want to Save the Task?';
                Notiflix.Confirm.Show('ProAcc Info. Confirm..!',
                    Message, 'Yes', 'No',
                    function () {
                        $.ajax({                            
                             type: "POST",
                              url: '@Url.Action("SubmitIssueTrack","IssueTrack")',
                             data: {
                                'Issuetrack_Id': "" + Issuetrack_Id + "",
                                'EndDate': EndDate,
                                'Status': Status,
                                'Comments': cmt,
                             },
                            success: function (Result) {
                               $('#mytable2').trigger('reloadGrid');

                             }
                        });
                    }, function () {
                       
                    });
            },

        });

    });


    //var lastSelection;
    //function editRow(id) {
    //    if (id && id !== lastSelection) {
    //        var grid = $("#jqGrid");
    //        grid.jqGrid('restoreRow', lastSelection);
    //        grid.jqGrid('editRow', id, { keys: true });
    //        lastSelection = id;
    //    }
    //}


  function GetUserDropDown() {
	var Parameters = {};
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetAllUser","ProjectMonitor")',
        dataType: "json",
		async: false,
        contentType: "application/json; charset=utf-8",
        success: function (Data) {
            //debugger;
				for (var i = 0; i < Data.length; i++) {
                var obj = {};
                    var Name = Data[i].Name;
                var key = ""+Data[i].UserId;
                Parameters[key] = Name;
            }
        },
        error: function (data) {
            alert("GetAllUser fail");
        }
    });
	return Parameters;
    }

     function GetPhaseDropDown() {
				 var Parameters = {};
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetPhase","ProjectMonitor")',
                    //data: '{Phase: ' + JSON.stringify(Phase) + ',condition:' + JSON.stringify(condition) + '}',
                    dataType: "json",
					async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (Data) {
						 for (var i = 0; i < Data.length; i++) {
                           var obj = {};
                             var PhaseName = Data[i].PhaseName;
                            var key = ""+Data[i].Id;
                            Parameters[key] = PhaseName;
                        }
                    },
                    error: function (data) {
                        alert("GetPhase fail");
                    }
                });
				return Parameters;
    }

    function GetInstanceDropDown() {
		 var Parameters = {};
         $.ajax({
            type: "POST",
                    url: '@Url.Action("GetInstance","IssueTrack")',
                    dataType: "json",
					async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (Data) {
						 for (var i = 0; i < Data.length; i++) {
                           var obj = {};
                             var PhaseName = Data[i].InstanceName;
                             var key = "" + Data[i].Instance_id;
                             Parameters[key] = PhaseName;
                        }
                    },
                    error: function (data) {
                        alert("GetProject fail");
                    }
         });
				return Parameters;
    }
    
</script>