@model IEnumerable<ProACC_DB.Issuetrack>
@{
    ViewBag.Title = "IndexPage";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>
<div style="max-width:99.5%;">
    <a class="card-title">Issue List</a>
    <hr />
    <table class="table" id="tblIssue">

        <thead>
            <tr>
                <th style="width:70px">Issue ID</th>
                <th style="width:130px">Issue Name</th>
                <th style="width:89px">Phase</th>
                <th>Task</th>
                <th>Assigned To</th>
                <th style="width:130px">Status</th>
                <th style="width:89px">Created Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ITM)
            {
                <tr>
                    <td>
                        <a class="txtG" value="@item.IssueID">@item.IssueID</a>
                    </td>
                    <td>
                        <a class="txtG" value="@item.IssueName">@item.IssueName</a>
                    </td>
                    <td>
                        <a class="txtG" value="@item.Phase">@item.Phase</a>
                    </td>
                    <td>
                        <a class="txtG" value="@item.Task">@item.Task</a>
                    </td>
                    <td>
                        <a class="txtG" value="@item.Assigned">@item.Assigned</a>
                    </td>
                    <td>
                        <a class="txtG" value="@item.Status">@item.Status</a>
                    </td>
                    <td>
                        <a class="txtG" value="@item.StartDate">@item.StartDate.ToString("dd/MM/yyyy")</a>
                    </td>
                    <td>
                        @if (item.Status != "Completed")
                        {
                            <a class="fa fa-edit" data-placement="top" href="@Url.Action("GetIssueTrackById", "IssueTrack", new { id = item.Issuetrack_Id })"></a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


<script type="text/javascript">


    $(document).ready(function () {

        $("#tblIssue").dataTable();
    });

     @*$(".editIssueTrack").on("click", function () {
              
        var id = $(this).next().val();
        $.ajax({
            url: '@Url.Action("GetIssueTrackById","IssueTrack")',
            type: "GET",
            data: { id: id },
            
            success: function (result) {
                
                $("#txtIssueName").val("");
                $("#PhaseMaster").val(0);
                $("#TaskList").val(0);
                $("#drpAssignedTo").val(0);
                $("#txtComments").val("");
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
       
    });*@
</script>