
@model IEnumerable<ProACC_DB.ActivityMaster>

<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>
@*<style>
    input[aria-controls=tblProjectCreation] {
 border: 1px solid #ced4da !important;
}
</style>*@
<div style="max-width:99.5%;">
    <table class="table" id="tblActivityCreation">
        <thead>
            <tr>
                @*<th cope="col" style="width:3%;text-align:center;">
            #
        </th>*@
                <th>Task</th>
                @*<th>Cre_on</th>*@
                <th>Building Blocks</th>
                <th>Phase</th>
                <th>Role</th>
                <th>Application Area</th>
                <th>Sequence</th>
                <th>Est.Hrs</th>
                <th>Task Name</th>
                <th>Parallel Name</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @*@{int j = 1;}*@
            @foreach (var item in ViewBag.AMM)
            {
            <tr>
                @*<td>
            @j
        </td>
        @{j++;
        }*@
                <td>
                    <a class="txtG" value="@item.Task">@item.Task</a>
                </td>
                @*<td>
            <a class="txtG" value="@item.Cre_on">@item.Cre_on</a>
        </td>*@
                <td>
                    <a class="txtG" value="@item.BuildingBlock_id">@item.Buldingblock</a>
                </td>
                <td>
                    <a class="txtG" value="@item.PhaseID">@item.Phase</a>
                </td>
                <td>
                    <a class="txtG" value="@item.RoleID">@item.Role</a>
                </td>
                <td>
                    <a class="txtG" value="@item.ApplicationAreaID">@item.ApplicationArea</a>
                </td>
                <td>
                    <a class="txtG" value="@item.Sequence_Num">@item.Sequence_Num</a>
                </td>
                <td>
                    <a class="txtG" value="@item.EST_hours">@item.EST_hours1</a>
                </td>
                <td>
                    <a class="txtG" value="@item.Task_id">@item.Tasktype</a>
                </td>
                <td>
                    @if (item.ParallelType != "")
                    {
                       <a class="txtG" value="@item.Parallel_Type">@item.ParallelType</a>
                    }
                </td>
                <td>
                    <a href="#" id="btnprjtEdit" class="editActivityCreation fa fa-edit"></a><input type="hidden" value="@item.Activity_ID" />
                    <a href="#" class="btnActivityDelete fa fa-trash"></a><input type="hidden" value="@item.Activity_ID" />
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">


    $(document).ready(function () {
         $("#tblActivityCreation").dataTable({
             "order": [
                 [5, 'asc']
             ],
            "columnDefs": [
                {
                    "targets": [5],
                    "visible": true
                }
            ]
        } );
    });

    $(".editActivityCreation").on("click", function () {
        var id = $(this).next().val();
        $.ajax({
            url: '@Url.Action("GetActivityCreationById","Activity")',
            type: "GET",
            data: { id: id },
            success: function (result) {
                //debugger;
                $("#activityrid").val(result.Activity_ID);
                $("#txtTask").val(result.Task);
                $("#txtSequence").val(result.Sequence_Num);
                $("#drpPhase").val(result.PhaseID);
                $('#drpPhase').attr("disabled", true); 
                $("#drphiddenPhase").val(result.PhaseID);
                $("#drpBlock").val(result.BuildingBlock_id);
                $("#drpRole").val(result.RoleID);
                $("#drpTaskType").val(result.Tasktype);
                if (result.Tasktype == '2') {
                    //$('#drpParallelId').prop('selectedIndex', 0);
                    $("#drpParallelId").val(result.Parallel_Type);
                    $("#drpParallelId").prop("disabled", true);
                    $("#parallelhidecheck , #parallelhideid").show();
                   // $("#txtParallelCheck").prop('checked', true);
                }
                else {
                    $("#parallelhidecheck , #parallelhideid").hide();
                }

                $('#drpRole').attr("disabled", true); 
                $("#drphiddenRole").val(result.RoleID);
                //var EST_hours = result.EST_hours.replace(".", ":");
                $("#txtEstimated").val(result.EST_hours1); //.replace(".", ":")
                $("#drpApplicationArea").val(result.ApplicationAreaID);
                $("#actcre_on").val(result.Cre_on);
                $("#actcre_By").val(result.Cre_By);
                $("#btntivityCreUpdate").show();
                $("#btnAddNew").show();
                $("#btnActivityCreCreate").hide();
                $("#activityCreation").hide();
                $("#activityUpdation").show();
                $(".app-main_Scroll").animate({ scrollTop: 0 }, 1000);
                //$("").scrollTop(0);
                 //$.each(result, function (index, item) {
                 //    $("#activityrid").val(item.Activity_ID);
                 //   $("#txtTask").val(item.Task);
                 //   $("#txtSequence").val(item.Sequence_Num);
                 //   $("#drpPhase").val(item.PhaseID);
                 //   $("#drpRole").val(item.RoleID);
                 //   $("#txtApplicationArea").val(item.ApplicationArea);
                 //   $("#actcre_on").val(item.Cre_on);
                 //   $("#actcre_By").val(item.Cre_By);
                 //   $("#btntivityCreUpdate").show();
                 //   $("#btnAddNew").show();
                 //   $("#btnActivityCreCreate").hide();
                 //});
               

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });
     function Redirect() {
        location.reload();
    }
  

    $(".btnActivityDelete").on("click", function () {
        var id = $(this).next().val();
         Notiflix.Confirm.Show(
                'Confirm',
                'Do you want to delete ?',
                'Yes', 'No',
                function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Activity")',
                        data: { id: id },
                        dataType: "json",
                        success: function (response) {
                            if (response == "success") {
                                Notiflix.Notify.Success('Activity deleted Successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                                setTimeout(Redirect, 3000);
                            }
                        }
                    });
                }, function () {
                    //location.reload();
                    // No button callback
                    //alert('If you say so...');
                }
            )



        @*$.confirm({
                            title: 'Delete !',
                            content: 'Do you want to delete ?',
                            icon: 'fa fa-trash-o',
                            animation: 'scale',
                            closeAnimation: 'scale',
                            opacity: 0.5,
                            buttons: {
                                'confirm': {
                                    text: 'Yes',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        $.ajax({
                                            type: "POST",
                                            url: '@Url.Action("Delete","Activity")',
                                            data: { id: id },
                                            dataType: "json",
                                            success: function (response) {
                                                if (response == "success") {
                                                    Notiflix.Notify.Success('Activity deleted Successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                                                    setTimeout(Redirect, 3000);
                                                    $.alert({
                                                        title: 'Alert !',
                                                        content: 'Activity deleted successfully!..!',// <br> with some <strong>HTML</strong> <em>contents</em>',
                                                        icon: 'fa fa-rocket',
                                                        animation: 'scale',
                                                        closeAnimation: 'scale',
                                                        buttons: {
                                                            okay: {
                                                                text: 'Okay',
                                                                btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                                                action: function (event, ui) {
                                                                    $(this).remove();
                                                                    loadActivityCreation();
                                                                    location.reload();
                                                                }
                                                            }
                                                        }
                                                    });
                                                    //alert("");

                                                }
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                        //$.confirm({
                                        //    title: 'This maybe critical',
                                        //    content: 'Critical actions can have multiple confirmations like this one.',
                                        //    icon: 'fa fa-warning',
                                        //    animation: 'scale',
                                        //    closeAnimation: 'zoom',
                                        //    buttons: {
                                        //        confirm: {
                                        //            text: 'Yes, sure!',
                                        //            btnClass: 'btn-orange',
                                        //            action: function(){
                                        //                $.alert('A very critical action <strong>triggered!</strong>');
                                        //            }
                                        //        },
                                        //        cancel: function(){
                                        //            $.alert('you clicked on <strong>cancel</strong>');
                                        //        }
                                        //    }
                                        //});
                                    }
                                },
                                cancel: function(){
                                    $.alert('You clicked on <strong>cancel</strong>');
                                },
                                //moreButtons: {
                                //    text: 'something else',
                                //    action: function(){
                                //        $.alert('you clicked on <strong>something else</strong>');
                                //    }
                                //},
                            }
                        });*@

       @*var retVal = confirm("Do you want to delete ?");
               if( retVal == true ) {
                $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","Activity")',
                data: { id:id },
                dataType: "json",
                success: function (response) {
                    if (response == "success") {
                        $.alert({
                        title: 'Alert !',
                        content: 'Activity deleted successfully!..!',// <br> with some <strong>HTML</strong> <em>contents</em>',
                        icon: 'fa fa-rocket',
                        animation: 'scale',
                        closeAnimation: 'scale',
                        buttons: {
                            okay: {
                                text: 'Okay',
                                btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                action: function (event, ui) {
                                    $(this).remove();
                                     loadActivityCreation();
                                     location.reload();
                                }
                            }
                        }
                    });
                        //alert("");
                       
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
                  return true;
               } else {
                  return false;
               }*@
    });
</script>
