


@{
    ViewBag.Title = "Create Activity";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    span {
        color: red;
        font-size: 14px;
    }
</style>
<a class="card-title" id="activityCreation">Activity Creation</a>
<a class="card-title" style="display:none" id="activityUpdation">Activity Updation</a>
<hr />
<div style="padding:1em;">
    <div class="row">
        <div class="col-6">

            <input type="hidden" id="activityrid" />
            <input type="hidden" id="actcre_on" />
            <input type="hidden" id="actcre_By" />

            <div class="form-group">
                <label class="control-label col-md-4 required">Task</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtTask" />
                    @*<span id="lblTask" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblTask">&nbsp;</span>
                </div>
            </div>

            @*<div class="form-group">
                <label class="control-label col-md-4 required">Sequence</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtSequence" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblSequence">&nbsp;</span>
                </div>
            </div>*@
            <div class="form-group">
                <label class="control-label col-md-6 required">Application Area</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtApplicationArea" />
                    <input type="hidden" id="hiddenActivityId"/>
                    @*<span id="lblApplicationArea" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblApplicationArea">&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="col-6">

            <div class="form-group">
                <label class="control-label col-md-4 required">Phase</label>
                <div class="col-md-10">
                    <input id="drphiddenPhase" type="hidden"/>
                    <select class="form-control" id="drpPhase">
                        <option value="0">Select Phase</option>
                        @foreach (var item in ViewBag.Phase)
                        {
                            <option value="@item.Id">@item.PhaseName</option>
                        }
                    </select>
                    @*<input type="text" class="form-control" id="txtPhase" maxlength="10" />*@
                    @*<span id="lblPhase" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblPhase">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Role</label>
                <div class="col-md-10">
                    <input id="drphiddenRole" type="hidden"/>
                    <select class="form-control" id="drpRole">
                        <option value="0">Select Role</option>
                        @foreach (var item in ViewBag.Role)
                        {
                            <option value="@item.RoleId">@item.RoleName</option>
                        }
                    </select>
                    @*<input type="text" class="form-control" id="txtRole" />*@
                    @*<span id="lblRole" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblRole">&nbsp;</span>
                </div>
            </div>
        </div>
        @*<div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4 required">Application Area</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtApplicationArea" />
                    <input type="hidden" id="hiddenActivityId"/>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span id="lblApplicationArea">&nbsp;</span>
                </div>
            </div>
        </div>*@
        <div class="col-10">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Create" class="btn btn-primary" id="btnActivityCreCreate" />
                    <input type="button" value="Update" class="btn btn-info" id="btntivityCreUpdate" style="display:none" />
                    <a class="btn btn-success" id="btnAddNew" style="display:none"><i class="fa fa-plus"></i>Create Activity</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="w3-container">
    @*<h2>W3.CSS Modal</h2>*@
   @* <button onclick="document.getElementById('id01').style.display='block'">Open Modal</button>*@

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content" style="margin-left: 355px;margin-top: 110px; height:20%;">
            <div class="w3-container" style="margin:0 auto !important;">

                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                @*<label style="margin-bottom:10px !important;">Select Task</label>*@
                <div class="row" style="margin-top:3%;">
                    <div class="col-10" >
                        <select class="form-control" id="drpTsk">
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" id="btnSeq" class="btn btn-primary" style="margin-bottom:50px !important;">Save</button>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $("#btnActivityCreCreate").prop('disabled', true);

        var id = $("#activityrid").val().trim();
        if (id != "") {
            //$("#txtSequence").prop("readonly", true);
            //$('#drpPhase').attr("disabled", true);
            //$("#drpPhase").prop("readonly", true);
            $("#drpRole").prop("readonly", true);
        }

        //$("#txtTask").keypress(function (event) {
        //    var inputValue = event.which;
        //    // allow letters and whitespaces only.
        //    if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
        //            event.preventDefault();
        //            $("#lblTask").html("Not Allowed").show().fadeOut(2000);
        //}
        //$("#btnActivityCreCreate").prop('disabled', false);
        //});


        $('#txtTask').on('focusout', function () {

            var Task = $("#txtTask").val().trim();
            var id = $("#activityrid").val();
            if (Task == "") {
                $("#lblTask").html("Please Enter Task").show().fadeOut(5000);
            }
            else {

             $.ajax({
                url: '@Url.Action("CheckTaskAvailability", "Activity")',
                type: "GET",
                data: { namedata: Task,id:id },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#lblTask").html("This Task is already in use").show().fadeOut(5000);
                        $("#btnActivityCreCreate").prop('disabled', true);
                        $("#btntivityCreUpdate").prop('disabled', true);

                    }
                    else {
                        $("#lblTask").html("").hide();
                        $("#btnActivityCreCreate").prop('disabled', false);
                        $("#btntivityCreUpdate").prop('disabled', false);
                    }
                },
                error: function (err) {
                    alert("Please Enter proper details");
                     $("#btnActivityCreCreate").prop('disabled', true);
                     $("#btntivityCreUpdate").prop('disabled', true);
                }
             });
            }

        });



         $("#txtSequence").keypress(function (e) {
             if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                 event.preventDefault();
                 $("#lblSequence").html("Numbers Only").show().fadeOut(5000);
             }
             else {
                 $("#btnActivityCreCreate").prop('disabled', false);
             }
         });

        $("#txtApplicationArea").keypress(function (event) {

            var inputValue = event.which;
            // allow letters and whitespaces only.
            if (!(inputValue >= 65 && inputValue <= 122 ||inputValue <= 45) && (inputValue != 32 && inputValue != 0) ) {
                    event.preventDefault();
                    $("#lblApplicationArea").html("Not Allowed").show().fadeOut(5000);
        }
        $("#btnActivityCreCreate").prop('disabled', false);
        });

        $('#drpPhase').change(function () {
             var Task = $("#txtTask").val();
            var sequence = $("#txtSequence").val();
            var ApplicationArea = $("#txtApplicationArea").val();
            var Role = $('#drpRole').val();
            if (Task != "" && sequence != "" && ApplicationArea != "" && Role != 0) {
                $("#btnActivityCreCreate").prop("disabled", false);
            }
        });

        $('#drpRole').change(function () {
             var Task = $("#txtTask").val();
            var sequence = $("#txtSequence").val();
            var ApplicationArea = $("#txtApplicationArea").val();
            var Phase = $('#drpPhase').val();
            if (Task != "" && sequence != "" && ApplicationArea != "" && Phase != 0) {
                $("#btnActivityCreCreate").prop("disabled", false);
            }
        });

    });


    $("#btnActivityCreCreate").on("click", function () {

        var Task = $("#txtTask").val();
       // var sequence = $("#txtSequence").val();
        var ApplicationArea = $("#txtApplicationArea").val();
        var Phase = $('#drpPhase').val();
        var Role = $('#drpRole').val();
        var model = {
            Task: Task,
            PhaseID: Phase,
            //Sequence_Num: sequence,
            ApplicationArea: ApplicationArea,
            RoleID:Role
        }
        if (Task == "") {
            $("#lblTask").html("Please enter the Task").show().fadeOut(5000);
        }
        //else if (sequence =="")
        //{
        //    $("#lblSequence").html("Please enter the sequence").show().fadeOut(3000);
        //}
        else if (ApplicationArea=="")
        {
            $("#lblApplicationArea").html("Please enter the ApplicationArea").show().fadeOut(5000);
        }
        else if (Phase==0)
        {
            $("#lblPhase").html("Please select the Phase").show().fadeOut(5000);
        }
        else if (Role == 0)
        {
            $("#lblRole").html("Please select the Role").show().fadeOut(5000);
        }

        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create","Activity")',
                data: { activityMaster:model },
                success: function (response) {
                        if (response > 0) {
                            $("#hiddenActivityId").val(response);
                            $("#drpTsk").empty();
                            var id = $("#drpPhase").val()
                            if (id > 0) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("GetAllTask","Activity")',
                                    data: { id: id },
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        if (response != null) {
                                            $('#drpTsk').append($("<option value='0'>Please Select Previous Task</option>"));
                                            $.each(response, function (index, item) {
                                                var option = $("<option value='" + item.Activity_ID + "'>" + item.Task + "</option>");
                                                $('#drpTsk').append(option);
                                            });
                                        }
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                            }
                                     document.getElementById('id01').style.display = 'block';

                        }
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });



        }
    });

    $("#btnSeq").on("click", function () {
        
        var LatestTaskId = $("#hiddenActivityId").val();
        var LastTaskId = $("#drpTsk").val();
        var type = $("#drpPhase").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAccordingToSequence","Activity")',
            data: { LatestTaskId: LatestTaskId, LastTaskId: LastTaskId,type:type },
            success: function (response) {
                if (response == "success") {
                    alert("activity Saved successfully!");
                    document.getElementById('id01').style.display = 'none';
                    loadActivityCreation();
                    $("#txtTask").val("");
                    //$("#txtSequence").val("");
                    $("#txtApplicationArea").val("");
                    $('#drpPhase').val(0);
                    $('#drpRole').val(0);
                    $("#btnActivityCreCreate").show()
                    $("#btntivityCreUpdate").hide()
                    $("#btnAddNew").hide()
                    $('#drpPhase').attr("disabled", false);
                    $('#drpRole').attr("disabled", false);
                }
                else {
                    alert("something went wrong");
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    });

    $("#btntivityCreUpdate").on("click", function () {
       
         var id = $("#activityrid").val();
        var Task = $("#txtTask").val();
        //var sequence = $("#txtSequence").val();
        var ApplicationArea = $("#txtApplicationArea").val();
        var Phase = $('#drphiddenPhase').val();
        var Role = $('#drphiddenRole').val();
        var cre_on = $("#actcre_on").val();
        var cre_By = $("#actcre_By").val();

         var model = {
             Activity_ID:id,
            Task: Task,
            PhaseID: Phase,
            //Sequence_Num: sequence,
            ApplicationArea: ApplicationArea,
            RoleID:Role,
            Cre_on: cre_on,
            Cre_By: cre_By
         }
       if (Task == "") {
            $("#lblTask").html("Please enter the Task").show().fadeOut(5000);
        }
        //else if (sequence =="")
        //{
        //    $("#lblSequence").html("Please enter the sequence").show().fadeOut(3000);
        //}
        else if (ApplicationArea=="")
        {
            $("#lblApplicationArea").html("Please enter the ApplicationArea").show().fadeOut(5000);
        }
        else if (Phase==0)
        {
            $("#lblPhase").html("Please select the Phase").show().fadeOut(5000);
        }
        else if (Role == 0)
        {
            $("#lblRole").html("Please select the Role").show().fadeOut(5000);
        }
        else {

            $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit","Activity")',
                    data: { model : model},
                success: function (response) {
                  
                         if (response > 0) {
                            $("#hiddenActivityId").val(response);
                            $("#drpTsk").empty();
                            var id = $("#drpPhase").val()
                            if (id > 0) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("GetAllTask","Activity")',
                                    data: { id: id},
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                       
                                        if (response != null) {
                                            $('#drpTsk').append($("<option value='0'>Please Select Last Task</option>"));
                                            $.each(response, function (index, item) {
                                                var option = $("<option value='" + item.Activity_ID + "'>" + item.Task + "</option>");
                                                $('#drpTsk').append(option);
                                                $("#activityCreation").show();
                                                $("#activityUpdation").hide();
                                            });
                                        }
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                            }
                                     document.getElementById('id01').style.display = 'block';

                        }

                        //if (response == "success") {
                        //    alert("Activity Edited successfully!");
                        //    loadActivityCreation();
                        //     $("#txtTask").val("");
                        //    $("#activityrid").val("");
                        //    $("#actcre_on").val("");
                        //    $("#actcre_By").val("");
                        //    $("#txtSequence").val("");
                        //    $("#txtApplicationArea").val("");
                        //    $('#drpPhase').val(0);
                        //    $('#drpRole').val(0);
                        //    $("#btnActivityCreCreate").show()
                        //    $("#btntivityCreUpdate").hide()
                        //    $("#btnAddNew").hide()
                        //}
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });

        }
     });


</script>
