

@{
    ViewBag.Title = "Create Activity";
}
@*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
<link href="~/Asset/css/Activity.css" rel="stylesheet" />

<style>
    /*span {
        color: red;
        font-size: 14px;
    }*/
    input#txtParallelCheck {
        position: absolute;
        margin-top: 10%;
        height: 14px;
        left: 6%;
        top: -12px;
        cursor: pointer;
    }
    label.control-label.col-md-4.Parallel {
        position: absolute;
        margin-top: 7%;
        left: 9%;
    }

</style>
<a class="card-title" id="activityCreation">Activity Creation</a>
<a class="card-title" style="display:none" id="activityUpdation">Activity Updation</a>
<hr />
<div style="padding:1em;" id="__Activity">
    <div class="row">
        <div class="col-6">

            <input type="hidden" id="activityrid" />
            <input type="hidden" id="actcre_on" />
            <input type="hidden" id="actcre_By" />
            <input type="hidden" id="txtSequence" />

            <div class="form-group">
                <label class="control-label col-md-4 required">Task</label>
                <div class="col-md-10">
                    <input type="text" class="form-control remove" id="txtTask" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblTask">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 required">Phase</label>
                <div class="col-md-10">
                    <input id="drphiddenPhase" type="hidden" />
                    <select class="form-control" id="drpPhase">
                        <option value="0">Select Phase</option>
                        @foreach (var item in ViewBag.Phase)
                        {
                            <option value="@item.Id">@item.PhaseName</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblPhase">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Application Area</label>
                <div class="col-md-10">
                    <input id="drphiddenApplicationArea" type="hidden" />
                    <select class="form-control" id="drpApplicationArea">
                        <option value="0">Select Application Area</option>
                        @foreach (var item in ViewBag.ApplicationArea)
                        {
                            <option value="@item.Id">@item.ApplicationArea</option>
                        }
                    </select>
                    <input type="hidden" id="hiddenActivityId" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblApplicationArea">&nbsp;</span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4 required">TaskType</label>
                <div class="col-md-10">
                    <select class="form-control" id="drpTaskType">
                        <option value="0">Select Task-Type</option>
                        @foreach (var item in ViewBag.TaskId)
                        {
                            <option value="@item.TaskId">@item.TaskName</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblTaskType">&nbsp;</span>
                </div>
            </div>

            
        </div>

        <div class="col-6">

            <div class="form-group">
                <label class="control-label col-md-4 required">Building Block</label>
                <div class="col-md-10">
                    <input id="drphiddenBlock" type="hidden" />
                    <select class="form-control" id="drpBlock">
                        <option value="0">Select Building Block</option>
                        @foreach (var item in ViewBag.Block)
                        {
                            <option value="@item.block_ID">@item.Block_Name</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblBlock">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Role</label>
                <div class="col-md-10">
                    <input id="drphiddenRole" type="hidden" />
                    <select class="form-control" id="drpRole">
                        <option value="0">Select Role</option>
                        @foreach (var item in ViewBag.Role)
                        {
                            <option value="@item.RoleId">@item.RoleName</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblRole">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 required">Est.Hrs HH:MM</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtEstimated" placeholder="00:00" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblEstimated">&nbsp;</span>
                </div>
            </div>

            <div class="form-group" id="parallelhideid">
                <label class="control-label col-md-4 ">Parallel-Name</label>
                <div class="col-md-10">
                    <input id="drphiddenRole" type="hidden" />
                    <select class="form-control" id="drpParallelId">
                        <option value="00000000-0000-0000-0000-000000000000">New Parallel Name</option>
                        @foreach (var item in ViewBag.ParallelId)
                        {
                            <option value="@item.ParallelId">P @item.ParallelName</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblParallelId">&nbsp;</span>
                </div>
            </div>
            @*<div class="form-group" id="parallelhidecheck">
            <div class="col-md-12">
                <input type="checkbox"  id="txtParallelCheck" name="check" />
                <label class="control-label col-md-4 Parallel">New Parallel Name</label>
            </div>
            <div>
                &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblParallelcheck">&nbsp;</span>
            </div>
        </div>*@
        </div>
                
        <div class="col-10">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Create" class="btn btn-primary" id="btnActivityCreCreate" />
                    <input type="button" value="Update" class="btn btn-info" id="btntivityCreUpdate" style="display:none" />
                    <a class="btn btn-success" id="btnAddNew" style="display:none"><i class="fa fa-plus"></i>Create Activity</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="w3-container">
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content" style="margin-left: 355px;margin-top: 110px; height:20%;">
            <div class="w3-container" style="margin:0 auto !important;">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div class="row" style="margin-top:3%;">
                    <div class="col-10">
                        <select class="form-control" id="drpTsk">
                        </select>
                    </div>
                    <div class="col-1">
                        <button type="button" id="btnSeq" class="btn btn-primary" style="margin-bottom:50px !important;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $("#parallelhidecheck , #parallelhideid").hide();


         $("#prt").hide();
        $("#btnActivityCreCreate").prop('disabled', true);

        var id = $("#activityrid").val().trim();
        if (id != "") {
            //$("#txtSequence").prop("readonly", true);
            //$('#drpPhase').attr("disabled", true);
            //$("#drpPhase").prop("readonly", true);
            $("#drpRole").prop("readonly", true);
        }

         $('#txtEstimated').on('keypress', function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 58)) {
                event.preventDefault();
                $("#lblEstimated").html("Time Only").show().fadeOut(5000);
            }
            else {
                $("#lblEstimated").html("").show();
            }

         });

        var typingTimer;                //timer identifier
        var doneTypingInterval = 1000;  //time in ms, 1 second for example

       // on keyup, start the countdown
         $('#txtTask').on('keyup', function () {
          clearTimeout(typingTimer);
          typingTimer = setTimeout(TaskCheck, doneTypingInterval);
        });

        //on keydown, clear the countdown
         $('#txtTask','#txtEstimated').on('keydown', function () {
          clearTimeout(typingTimer);
        });

        $('#txtTask').on('keypress', function (e) {
            if (e.which === 44) {
                e.preventDefault();
                $("#lblTask").html("Not Allowed").show().fadeOut(5000);
            }
            else {
                $("#lblTask").html("").show();
            }

        });

        function TaskCheck() {
            var Task = $("#txtTask").val().trim();
            Task = Task.replace(/,/g, " ");
            $("#txtTask").val(Task);
            var id = $("#activityrid").val();
            if (Task == "") {
                $("#lblTask").html("Please Enter Task").show().fadeOut(5000);
                ValidateActivity();
            }
            else {
             $.ajax({
                url: '@Url.Action("CheckTaskAvailability", "Activity")',
                type: "GET",
                data: { namedata: Task,id:id },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#lblTask").html("This Task is already in use").show().fadeOut(5000);
                        ValidateActivity();

                    }
                    else {
                        $("#lblTask").html("").hide();
                        ValidateActivity();
                    }
                },
                error: function (err) {
                    alert("Please Enter proper details");
                     ValidateActivity();
                }
             });
            }
        }

        // on keyup, start the countdown
         $('#txtEstimated').on('keyup', function () {
          clearTimeout(typingTimer);
          typingTimer = setTimeout(TaskEstHrs, doneTypingInterval);
        });

        function TaskEstHrs() {
            var txtEstimated = $("#txtEstimated").val();
            //var filter =/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/  //{IMP}
            var filter =/^([0-9]{1,2}):[0-5][0-9]$/
            if (!filter.test(txtEstimated)) {
                $("#lblEstimated").html("Time is Invalid").show();
            }
            else {
                $("#lblEstimated").html("").show();
            }
             ValidateActivity();
        }



        //var elements = document.querySelectorAll('.remove');

        //Array.from(elements).forEach(function (elem) {
        //    debugger;
        //    elem.textContent = elem.textContent.replace(/,/g, '');
        //});

        @*$('#txtTask').on('focusout', function () {

            var Task = $("#txtTask").val().trim();
            var id = $("#activityrid").val();
            if (Task == "") {
                $("#lblTask").html("Please Enter Task").show().fadeOut(5000);
                ValidateActivity();
            }
            else {

             $.ajax({
                url: '@Url.Action("CheckTaskAvailability", "Activity")',
                type: "GET",
                data: { namedata: Task,id:id },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#lblTask").html("This Task is already in use").show().fadeOut(5000);
                        ValidateActivity();

                    }
                    else {
                        $("#lblTask").html("").hide();
                        ValidateActivity();
                    }
                },
                error: function (err) {
                    alert("Please Enter proper details");
                     ValidateActivity();
                }
             });
            }

        });*@


        //$("#txtApplicationArea").keypress(function (event) {

        //    var inputValue = event.which;
        //    // allow letters and whitespaces only.
        //    if (!(inputValue >= 65 && inputValue <= 122 || inputValue <= 45) && (inputValue != 32 && inputValue != 0)) {
        //        event.preventDefault();
        //        $("#lblApplicationArea").html("Not Allowed").show().fadeOut(5000);
        //        ValidateActivity();
        //    }
        //    else {
        //        $("#lblApplicationArea").html("")
        //        ValidateActivity();
        //    }
        //});

        $("#drpPhase").on('change', function () {
            $('#drpParallelId').prop('selectedIndex', 0);
            $("#parallelhidecheck , #parallelhideid").hide();
             $("#drpTaskType").prop('selectedIndex', 0);
        })

        $('#drpPhase,#drpRole,#drpApplicationArea,#drpBlock,#drpTaskType').change(function () {
             var Task = $("#txtTask").val();
            var sequence = $("#txtSequence").val();
            var Phase = $('#drpPhase').val();
            var Role = $('#drpRole').val();
            var ApplicationArea = $('#drpApplicationArea').val();
            var Block = $('#drpBlock').val();
            var Estimated = $("#txtEstimated").val();
            var TaskType = $("#drpTaskType").val();
            var ParallelId = $("#drpParallelId").val();
            if (Task != "" && sequence != "" && Phase != 0 && Role != 0 && ApplicationArea != 0 && Block != 0 && Estimated != "" && TaskType!="0") {
                $("#lblApplicationArea").html("");
                $('#lblPhase').html("");
                $('#lblRole').html("");
                $('#lblBlock').html("");
                ValidateActivity();
            }
            else {
                ValidateActivity();
            }
        });

    });

    $('input[type="checkbox"][name="check"]').click(function () {
        if ($(this).prop("checked") == true) {
            $("#drpParallelId").prop("disabled", true);
            $('#drpParallelId').prop('selectedIndex', 0);
        }
        else if ($(this).prop("checked") == false) {
            $("#drpParallelId").prop("disabled", false);
        }
    });

    $("#drpTaskType").change(function () {
        //var Paralleltype = $("#drpParallelId").val();
        var taskValue = $(this).children("option:selected").val();
        if (taskValue == "0" ||taskValue == "1" || taskValue == "3") {
            $("#parallelhidecheck , #parallelhideid").hide();
            $("#drpParallelId").val("");
        }
        else if (taskValue == "2") {
            $("#parallelhidecheck , #parallelhideid").show();
             $('#drpParallelId').prop('selectedIndex', 0);
           // $("#drpParallelId").prop("disabled", true);
        }
    });

    function ValidateActivity() {

        var Task = $("#txtTask").val();
        var ApplicationArea = $("#drpApplicationArea").val();
        var Phase = $('#drpPhase').val();
        var Role = $('#drpRole').val();
        var Block = $('#drpBlock').val();
        var Estimated = $("#txtEstimated").val();
        var TaskType = $("#drpTaskType").val(); 
        var ParallelId = $("#drpParallelId").val();


        var lblTask = $("#lblTask").text().trim();
        var lblApplicationArea = $("#lblApplicationArea").text().trim();
        var lblPhase = $('#lblPhase').text().trim();
        var lblRole = $('#lblRole').text().trim();
        var lblBlock = $('#lblBlock').text().trim();
        var lblEstimated = $("#lblEstimated").text().trim();
        var lblTaskType = $("#lblTaskType").text().trim();
        var lblParallelType = $("#lblParallelId").text().trim();

        if (Task.length > 0 && ApplicationArea != 0 && Phase != 0 && Role != 0 && Block != 0 && Estimated != "" && TaskType != 0 &&
            lblTask == "" && lblApplicationArea == "" && lblPhase == "" && lblRole == "" && lblBlock == "" && lblEstimated == "" && lblTaskType=="") {

             $("#btnActivityCreCreate").prop("disabled", false);
             $("#btntivityCreUpdate").prop("disabled", false);
        }
         else {
             $("#btnActivityCreCreate").prop("disabled", true);
             $("#btntivityCreUpdate").prop("disabled", true);
        }
    }
    $('#txtEstimated').keyup(function (event) {

        this.value = this.value
            .replace(/[^\d:]/g, '')             // numbers and decimals only
            .replace(/(^[\d]{2})[\d]/g, '$1')   // not more than 2 digits at the beginning
            .replace(/(\::*)\:/g, '$1')         // decimal can't exist more than once
            //.replace(/(\:[\d]{2})./g, '$1');    // not more than 4 digits after decimal
            .replace(/(\:[0-5][0-9]{1})./g, '$1');

    });
    $("#btnActivityCreCreate").on("click", function () {
        debugger
        var Task = $("#txtTask").val();
        Task = Task.replace(/,/g, " ");
       // var sequence = $("#txtSequence").val();
        //var ApplicationArea = $("#txtApplicationArea").val();
        var ApplicationArea = $("#drpApplicationArea").val();
        var Phase = $('#drpPhase').val();
        var Role = $('#drpRole').val();
        var BlockId = $('#drpBlock').val();
        var Estimated = $("#txtEstimated").val();
        var Tasktype = $("#drpTaskType").val();
        var Paralleltype = $("#drpParallelId").val();
         Estimated = Estimated.replace(/:/g, ".");

        var model = {
            Task: Task,
            PhaseID: Phase,
            BuildingBlock_id: BlockId,
            EST_hours:Estimated,
            ApplicationAreaID: ApplicationArea,
            RoleID: Role,
            Task_id: Tasktype,
            Parallel_Id: Paralleltype
        }
        if (Tasktype == 0)
        {
            $("#lblTaskType").html("Please enter the Task Type").show().fadeOut(5000);
            ValidateActivity();
        }

        else if (Task == "") {
            $("#lblTask").html("Please enter the Task").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (ApplicationArea == 0) {
            $("#lblApplicationArea").html("Please select the ApplicationArea").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (Phase == 0) {
            $("#lblPhase").html("Please select the Phase").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (Role == 0) {
            $("#lblRole").html("Please select the Role").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (BlockId == 0) {
            $("#lblBlock").html("Please select the Building Block").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (Estimated == "") {
            $("#lblEstimated").html("Please fill the Estimated hours").show();
            ValidateActivity();
        }

        else {
            $("#drpTsk").empty();
            var id = $("#drpPhase").val()
            if (id > 0 && (Paralleltype != null && Paralleltype!='00000000-0000-0000-0000-000000000000')) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAllTaskByParallelType","Activity")',
                    data: { id: id, Parallel_Id: Paralleltype },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            $('#drpTsk').append($("<option value='0'>Please Select Previous Task</option>"));
                            $.each(response, function (index, item) {
                                var option = $("<option value='" + item.Activity_ID + "'>" + item.Task + "</option>");
                                $('#drpTsk').append(option);
                            });
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
            else if(id>0) {
                 $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAllTask","Activity")',
                    data: { id: id},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            $('#drpTsk').append($("<option value='0'>Please Select Previous Task</option>"));
                            $.each(response, function (index, item) {
                                var option = $("<option value='" + item.Activity_ID + "'>" + item.Task + "</option>");
                                $('#drpTsk').append(option);
                            });
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
            document.getElementById('id01').style.display = 'block';

            @*$.ajax({
                type: "POST",
                url: '@Url.Action("Create","Activity")',
                data: { activityMaster:model },
                success: function (response) {
                        if (response > 0) {
                            $("#hiddenActivityId").val(response);
                            $("#drpTsk").empty();
                            var id = $("#drpPhase").val()
                            if (id > 0) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("GetAllTask","Activity")',
                                    data: { id: id },
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {
                                        if (response != null) {
                                            $('#drpTsk').append($("<option value='0'>Please Select Previous Task</option>"));
                                            $.each(response, function (index, item) {
                                                var option = $("<option value='" + item.Activity_ID + "'>" + item.Task + "</option>");
                                                $('#drpTsk').append(option);
                                            });
                                        }
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                            }
                                     document.getElementById('id01').style.display = 'block';

                        }
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });*@



        }
    });
    $("#btnSeq").on("click", function () {

        debugger
        var id = $("#activityrid").val();
        var Task = $("#txtTask").val();
        Task = Task.replace(/,/g, " ");
        var ApplicationArea = $("#drpApplicationArea").val();
        var Phase = $('#drpPhase').val();
        var Role = $('#drpRole').val();
        var BlockId = $('#drpBlock').val();
        var Estimated = $("#txtEstimated").val();
        var Tasktype = $("#drpTaskType").val();
        var Paralleltype = $("#drpParallelId").val();
        Estimated = Estimated.replace(/:/g, ".");

        var LatestTaskId = $("#hiddenActivityId").val();
        var LastTaskId = $("#drpTsk").val();

        
        var model = {
            Activity_ID: id,
            Task: Task,
            PhaseID: Phase,
            BuildingBlock_id: BlockId,
            EST_hours: Estimated,
            ApplicationAreaID: ApplicationArea,
            RoleID: Role,
            PreviousId: LastTaskId,
            TaskId: Tasktype,
            ParallelId: Paralleltype
        }
        if (Task == "") {
            $("#lblTask").html("Please enter the Task").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (ApplicationArea == 0) {
            $("#lblApplicationArea").html("Please select the ApplicationArea").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (Phase == 0) {
            $("#lblPhase").html("Please select the Phase").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (Role == 0) {
            $("#lblRole").html("Please select the Role").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (BlockId == 0) {
            $("#lblBlock").html("Please select the Building Block").show().fadeOut(5000);
            ValidateActivity();
        }
        else if (Estimated == "") {
            $("#lblEstimated").html("Please fill the Estimated hours").show();
            ValidateActivity();
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActivityCreate", "Activity")',
                data: { activityMaster: model },
                success: function (response) {
                    Notiflix.Notify.Success('Activity Saved Successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                    document.getElementById('id01').style.display = 'none';
                    location.reload();
                }
            });
        }


    });
    @*$("#btnSeq").on("click", function () {
        var LatestTaskId = $("#hiddenActivityId").val();
        var LastTaskId = $("#drpTsk").val();
        var type = $("#drpPhase").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAccordingToSequence","Activity")',
            data: { LatestTaskId: LatestTaskId, LastTaskId: LastTaskId,type:type },
            success: function (response) {
                if (response == "success") {
                    Notiflix.Notify.Success('Activity Saved Successfully..!', {cssAnimationStyle:'zoom', cssAnimationDuration:500,});
                    document.getElementById('id01').style.display = 'none';
                    loadActivityCreation();
                    $("#txtTask").val("");
                    $("#drpApplicationArea").val(0);
                    $('#drpPhase').val(0);
                    $('#drpRole').val(0);
                    $('#drpBlock').val(0);
                    $("#txtEstimated").val("");
                    $("#btnActivityCreCreate").show()
                    $("#btntivityCreUpdate").hide()
                    $("#btnAddNew").hide()
                    $('#drpPhase').attr("disabled", false);
                    $('#drpRole').attr("disabled", false);
                    $(".app-main_Scroll").animate({ scrollTop: 500 }, 1000);
                }
                else {
                    alert("something went wrong");
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    });*@

    $("#btntivityCreUpdate").on("click", function () {

         var id = $("#activityrid").val();
        var Task = $("#txtTask").val();
         Task = Task.replace(",", " ");
        var sequence = $("#txtSequence").val();
        //var ApplicationArea = $("#txtApplicationArea").val();
        var ApplicationArea = $("#drpApplicationArea").val();
        var Phase = $('#drphiddenPhase').val();
        var Role = $('#drphiddenRole').val();
        var cre_on = $("#actcre_on").val();
        var cre_By = $("#actcre_By").val();
        var BlockId=$('#drpBlock').val();
         var Estimated = $("#txtEstimated").val();
        Estimated = Estimated.replace(/:/g, ".");

        var model = {
            Activity_ID: id,
            Task: Task,
            PhaseID: Phase,
            Sequence_Num: sequence,
            BuildingBlock_id: BlockId,
            ApplicationAreaID: ApplicationArea,
            RoleID: Role,
            EST_hours:Estimated,
            Cre_on: cre_on,
            Cre_By: cre_By
        }
       if (Task == "") {
           $("#lblTask").html("Please enter the Task").show().fadeOut(5000);
           ValidateActivity();
        }
       else if (ApplicationArea == 0) {
           $("#lblApplicationArea").html("Please select the Application Area").show().fadeOut(5000);
           ValidateActivity();
       }
       else if (Phase == 0) {
           $("#lblPhase").html("Please select the Phase").show().fadeOut(5000);
           ValidateActivity();
       }
       else if (Role == 0) {
           $("#lblRole").html("Please select the Role").show().fadeOut(5000);
           ValidateActivity();
       }
       else if (BlockId == 0) {
           $("#lblBlock").html("Please select the Building Block").show().fadeOut(5000);
           ValidateActivity();
       }
       else if (Estimated == "") {
           $("#lblEstimated").html("Please fill the Estimated hours").show();
           ValidateActivity();
        }
        else {
            $("#drpTsk").empty();
            var id = $("#drpPhase").val()
            if (id > 0) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAllTask","Activity")',
                    data: { id: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            $('#drpTsk').append($("<option value='0'>Please Select Previous Task</option>"));
                            $.each(response, function (index, item) {
                                var option = $("<option value='" + item.Activity_ID + "'>" + item.Task + "</option>");
                                $('#drpTsk').append(option);
                            });
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
            document.getElementById('id01').style.display = 'block';
        }
        @*else {

            $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit","Activity")',
                    data: { model : model},
                success: function (response) {

                         if (response > 0) {
                            $("#hiddenActivityId").val(response);
                            $("#drpTsk").empty();
                            var id = $("#drpPhase").val()
                            if (id > 0) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("GetAllTask","Activity")',
                                    data: { id: id},
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (response) {

                                        if (response != null) {
                                            $('#drpTsk').append($("<option value='0'>Please Select Last Task</option>"));
                                            $.each(response, function (index, item) {
                                                var option = $("<option value='" + item.Activity_ID + "'>" + item.Task + "</option>");
                                                $('#drpTsk').append(option);
                                                $("#activityCreation").show();
                                                $("#activityUpdation").hide();
                                            });
                                        }
                                    },
                                    failure: function (response) {
                                        alert(response.responseText);
                                    },
                                    error: function (response) {
                                        alert(response.responseText);
                                    }
                                });
                            }
                                     document.getElementById('id01').style.display = 'block';

                        }

                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });

        }*@
     });


</script>
