
@{
    ViewBag.Title = "PostConversion Resource";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@*<script src="~/Asset/Jquery/jqGrid/grid.locale-en.js"></script>
    <script src="~/Asset/Jquery/jqGrid/jquery.jqGrid.min.js"></script>
    <link href="~/Asset/Jquery/jqGrid/css/octicons.css" rel="stylesheet" />
    <link href="~/Asset/Jquery/jqGrid/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />*@

@Styles.Render("~/Content/css/jqGrid")
@Scripts.Render("~/bundles/Scripts/jqGrid")
<a class="card-title">Post-Conversion Resource</a>
<script>
    //$.jgrid.defaults.width =1000;
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap4';
    $.jgrid.defaults.iconSet = "Octicons";
</script>
<style>
    /*.ui-jqgrid {
        font-size: 0.8rem
    }

    th.ui-th-column div {
        white-space: normal !important;
        height: auto !important;
        padding: 2px;
    }

    .ui-jqgrid .ui-jqgrid-view input, .ui-jqgrid .ui-jqgrid-view select, .ui-jqgrid .ui-jqgrid-view textarea, .ui-jqgrid .ui-jqgrid-view button {
        font-size: 11px !important;
    }

    .ui-jqgrid .ui-jqgrid-bdiv {
        overflow-y: scroll
    }*/

    #jqGridPager_center {
        visibility: hidden;
    }
</style>
<style>
        .wrapColumnText {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
        }
        /*div.centered {
        position: fixed;
        top: 40%!important;
        left: 50%!important;
        margin-top: -50px;
        margin-left: -100px;
    }*/
</style>

<div class="row" style="padding: 1em;">
    <div class="col-lg-12 card">
        <div class="row">
            @if (User.IsInRole("Consultant") || User.IsInRole("Admin"))
            {
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Customer Name</label>
                        @Html.DropDownList("Company ", (IEnumerable<SelectListItem>)ViewBag.Customer, "-Select-", new { id = "IDCustomer", @class = "form-control" })
                        @*@Html.DropDownList("Project", (IEnumerable<SelectListItem>), "- SELECT-", new { id = "IDProject", @class = "form-control" })*@
                    </div>
                </div>
            }
            <div class="col-md-4">
                <label class="">Project Name</label>
                @if (User.IsInRole("Customer") || User.IsInRole("Project Manager"))
                {
                    @Html.DropDownList("Project", (IEnumerable<SelectListItem>)ViewBag.Project, "-Select-", new { id = "IDProject", @class = "form-control" })
                }
                else
                {
                    @Html.DropDownList("Project", new SelectList(Enumerable.Empty<SelectListItem>(), "IDProject", "ProjectName"),
                           "Select a Customer", new { id = "IDProject", @class = "form-control" })
                }
            </div>
            <div class="col-md-2">
                <label for="exampleEmail" class="">Instance Name</label>
                @Html.DropDownList("Instance", new SelectList(Enumerable.Empty<SelectListItem>(), "IDInstance", "InstanceName"),
                "-Select-", new { id = "IDInstance", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label for="exampleEmail" class="">.</label>
                <button class="btn-wide mb-2 mr-2 btn btn-primary form-control" id="SubmitInstance">
                    Select Instance
                </button>
            </div>
        </div>
    </div>
</div>

<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>
<script>
    $(document).ready(function () {
            $("#IDInstance").prop("disabled", true);
        $('#SubmitInstance').prop("disabled", true);

         $(window).on("resize", function () {
        var newWidth = $("#jqGrid").closest(".ui-jqgrid").parent().width();
             $("#jqGrid").jqGrid("setGridWidth", newWidth, true);
         });
    });
     $('#IDCustomer').change(function () {
            $("#IDInstance").prop("disabled", false);
            var id = $(this).val();
             var select = $("#IDProject");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadProject","Home")',
                data: { 'CustomerId' : id},
                success: function (data) {
                    var select = $("#IDProject");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                    $("#IDProject").prop("disabled", false);
                    $("#IDInstance").prop("disabled", true);
                    $('#SubmitInstance').prop("disabled", true);
                },
                error: function (a) {
                    debugger;
                    alert(a);
                }
            });
        });
    $('#IDProject').change(function () {

            var id = $(this).val();
			$('#SubmitInstance').prop("disabled", true);
             var select = $("#IDInstance");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadInstanceforResource","Home")',
                data: { 'ProjectId' : id},
                success: function (data) {
                    var select = $("#IDInstance");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
                    if (data.length > 0) {
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                        $("#IDInstance").prop("disabled", false);
                    }
                    else {
                        $("#IDInstance").prop("disabled", true);
						$('#SubmitInstance').prop("disabled", true);
                    }
                },
                error: function (a) {
                    alert(a);
                }
            });
            });
    $('#IDInstance').change(function () {
                var id = $(this).val();
                if (id == ""||id =="0") {
                     $('#SubmitInstance').prop("disabled", true);
                } else {
					$('#SubmitInstance').prop("disabled", false);
                }
            });
    $('#SubmitInstance').click(function () {
        var IDInstance = $("#IDInstance").val();
        $.ajax({
            //url: '<%: Url.Action("Upload")%>?Cust_ID=' + Cust_ID + '&IDProject=' + IDProject+'&InstanceID='+InstanceID,
            url: '@Url.Action("SubmitInstance", "Home")',
            type: "POST",
            data: { 'IDInstance': IDInstance },
            success: function (result) {
                 Notiflix.Notify.Success('New Live Instance updated !', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                 LoadTable(IDInstance);
                 $('#jqGrid').trigger('reloadGrid');
                //$.alert({
                //    title: 'Alert !',
                //    content: 'New Live Instance updated',// <br> with some <strong>HTML</strong> <em>contents</em>',
                //    icon: 'fa fa-rocket',
                //    animation: 'scale',
                //    closeAnimation: 'scale',
                //    buttons: {
                //        okay: {
                //            text: 'Okay',
                //            btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                //            action: function (event, ui) {
                //                $(this).remove();
                //            }
                //        }
                //    }

                //});


            }
        });
    });
</script>

<script>
    function LoadTable(Instance) {
        // altrows are set with table striped class for Boostrap
        $.jgrid.styleUI.Bootstrap.base.rowTable = "table table-bordered";
        var lastSelection;
        var editParameters = {
            keys: true,
            //successfunc: editSuccessful,
            errorfunc: false,
            restoreAfterError: false,
            extraparam: {
                valor: 'texto', any: '20164',
                clave1: function () {
                    var sel_id = $("#grid").jqGrid('getGridParam', 'selrow');
                    var value = $("#grid").jqGrid('getCell', sel_id, 'pas1');
                    return value;
                },
                obra: function () {
                    var sel_id = $("#grid").jqGrid('getGridParam', 'selrow');
                    var value = $("#grid").jqGrid('getCell', sel_id, 'obra');
                    return value;
                },
                empresa: function () {
                    var sel_id = $("#grid").jqGrid('getGridParam', 'selrow');
                    var value = $("#grid").jqGrid('getCell', sel_id, 'empresa');
                    return value;
                }
            }
        };
        var grid = $("#grid");
        var cancelEditing = function (myGrid) {
            var lrid;
            if (typeof lastSelection !== "undefined") {
                // cancel editing of the previous selected row if it was in editing state.
                // jqGrid hold intern savedRow array inside of jqGrid object,
                // so it is safe to call restoreRow method with any id parameter
                // if jqGrid not in editing state
                myGrid.jqGrid('restoreRow', lastSelection);


                // now we need to restore the icons in the formatter:"actions"
                lrid = $.jgrid.jqID(lastSelection);
                $("tr#" + lrid + " div.ui-inline-edit, " + "tr#" + lrid + " div.ui-inline-del").show();
                $("tr#" + lrid + " div.ui-inline-save, " + "tr#" + lrid + " div.ui-inline-cancel").hide();
                $("div.ui-inline-close").show();
            }
        };
        var getColumnIndexByName = function (grid, columnName) {
            var cm = grid.jqGrid('getGridParam', 'colModel'), i, l = cm.length;
            for (i = 0; i < l; i++) {
                if (cm[i].name === columnName) {
                    return i; // return the index
                }
            }
            return -1;
        }
        var DateInput = function (element, options) {
            $(element).on('keypress', function (e) {
                //if (e.which === 8 && $.inArray(e.target.tagName, inputTags) === -1)
                e.preventDefault();
            })
            $(element).datepicker({
                dateFormat: "dd/mm/yy",
                autoSize: true,
                changeYear: true,
                changeMonth: true,
                showButtonPanel: false,
                showWeek: false
            });
        };
        var initDateEdit = function (elem, options) {
            // we need get the value before changing the type
            var orgValue = $(elem).val(),
                cm = $(this).jqGrid("getColProp", options.name);

            $(elem).attr("type", "date");
            if ((Modernizr && !Modernizr.inputtypes.date) || $(elem).prop("type") !== "date") {
                // if type="date" is not supported call jQuery UI datepicker
                $(elem).datepicker({
                    dateFormat: "dd/mm/yy",
                    autoSize: true,
                    changeYear: true,
                    changeMonth: true,
                    showButtonPanel: true,
                    showWeek: true
                });
            } else {
                // convert date to ISO
                $(elem).val($.jgrid.parseDate.call(this, cm.formatoptions.newformat, orgValue, "Y-m-d"));
            }
        };

         var rowEdit = function (row) {
            debugger;
            if (row == 0)
                return false;
        }

        $("#jqGrid").jqGrid({
            url: "@Url.Action("GetData","Resource",new { Phase_ID= ViewBag.PhaseID})",
            datatype: "json",
            editurl: "@Url.Action("UpdateResource","Resource")",
            colModel: [
                {
                    label: 'Id', name: 'Id', index: 'Id', width: 70,
                    sortable: false, align: 'center', editable: true, hidden: true

                },
                {
                    label: 'Phase', name: 'PhaseId', index: 'PhaseId', width: 70,
                    sortable: false, align: 'Left', editable: true, edittype: 'custom',
                    cellEdit: true, edittype: 'select', formatter: 'select',
                    editoptions: {
                        value: GetPhaseDropDown()

                    }
                },
                { label: 'Activity / Task ', name: 'Task', width: 150, sortable: false, sorttype: 'integer', editable: true,classes: 'wrapColumnText' },
                { label: 'Sequence ', name: 'SequenceNum', width: 50, sortable: false, sorttype: 'integer', editable: true ,hidden: true},
                {
                    label: 'Role', name: 'RoleID', index: 'RoleID', width: 70, sortable: false, align: 'left', editable: true,
                    cellEdit: true, edittype: 'select', formatter: 'select',
                    editoptions: {
                        value: GetRoleDropDown(),
                        dataEvents: [
                    {
                        type: 'change',
                        fn: function (e) {
                           UpdateUserByRole($("#RoleID").val());
                        }
                    }]
                    },

                },

                {
                    label: 'Select Task', name: 'ActivityID', index: 'ActivityID', width: 70, sortable: false, align: 'left', editable: true, hidden: true,
                    cellEdit: true, edittype: 'select', formatter: 'select',//Add Only
                     editoptions: {
                        dataUrl: '@Url.Action("MasterAddPostConversion","Resource")',
                        buildSelect: buildSelectFromJson
                    }
                },
                {
                    label: 'Status', name: 'StatusId', index: 'StatusId', width: 70,  align: 'Left', editable: true,
                    cellEdit: true, edittype: 'select', formatter: 'select',
                    editoptions: {
                        value: GetStatusDropDown()
                    },
                },

                {
                    label: 'Owner of Task', name: 'UserID', index: 'UserID', width: 70, sortable: false, align: 'center', editable: true,
                    cellEdit: true, edittype: 'select', formatter: 'select',
                    editoptions: {
                        value: GetUserDropDown()
                    }
                },




            ],
            loadonce: false,
            altRows: true,
            //rownumbers : true,
            //multiselect : true,
            width: 950,
            colMenu: false,
            menubar: false,
            viewrecords: true,
            hoverrows: true,
            // height: 'auto',
            height: 400,
            rowNum: 1000,
            caption: 'Resource Allocation',
            sortable: false,
            grouping: false,
            pager: "#jqGridPager",
            rownumbers: true,
            reload: true,
            //sortname: 'SequenceNum',
            //sortorder: 'desc',
            afterSubmit: function () {
                //debugger;
                //location.reload(true);
                //$(this).jqGrid("setGridParam", { datatype: 'json' });
                //return [true];
            },
            loadComplete: function () {
            }
            // set table stripped class in table style in bootsrap
        });

        $('#jqGrid').navGrid('#jqGridPager',
            // the buttons to appear on the toolbar of the grid
            { edit: true, add: true, del: false, search: false, refresh: true, view: false, position: "left", cloneToTop: false },
            // options for the Edit Dialog
            {
                editCaption: "The Edit Dialog",
                recreateForm: true,
                checkOnUpdate: true,
                checkOnSubmit: true,
                closeAfterEdit: true,
                beforeInitData: function (form) {
                    var id = jQuery("#jqGrid").jqGrid('getGridParam', 'selrow');
                    var celValue = jQuery("#jqGrid").jqGrid('getCell', id, 'StatusId');
                    if (celValue == 3 || celValue == 1) {
                        $.alert({
                            title: 'Alert !',
                            content: 'You\'r  not allowed to edit task Which are already closed..! ',// <br> with some <strong>HTML</strong> <em>contents</em>',
                            icon: 'fa fa-rocket',
                            animation: 'scale',
                            closeAnimation: 'scale',
                            buttons: {
                                okay: {
                                    text: 'Okay',
                                    btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control'
                                    //action: function (event, ui) {
                                    //    $(this).remove();
                                    //    LoadTable(IDInstance);
                                    //    $('#jqGrid').trigger('reloadGrid');
                                    //}
                                }
                            }

                        });

                        return false;
                    }
                    //var Status=$("#" + id + "_StatusId").val();
                    //alert(id);
                },
                beforeShowForm: function (form) {
                    //$("#PhaseId").attr("disabled", "disabled");

                    $("#editmodjqGrid").addClass("centered");
                    $(".navButton").hide();
                    $("#tr_PhaseId").hide();
                    $("#tr_SequenceNum").hide();
                    $("#tr_StatusId").hide();

                    $("#Task").attr("disabled", "disabled");
                     $("#RoleID").attr("disabled", "disabled");
                    //$("#RoleID").attr("disabled", "disabled");
                    UpdateUserByRole($("#RoleID").val());
                    //debugger;
                    //needDisable=true;
                },
                reloadAfterSubmit: true,
                // afterShowForm: populateUser,
                errorTextFormat: function (data) {
                    alert("in" + data.responseText);
                    return 'Error: ' + data.responseText
                }
            },
            // options for the Add Dialog
            {
                url: "@Url.Action("AddResource","Resource")",
                closeAfterAdd: true,
                recreateForm: true,
                beforeShowForm: function (form) {
                    $("#editmodjqGrid").addClass("centered");
                    $("#tr_PhaseId").hide();
                    $("#tr_SequenceNum").hide();
                     $("#tr_StatusId").hide();
                    $("#tr_Task").hide();
                    $("#tr_RoleID").hide();
                     $("#tr_UserID").hide();
                    //debugger;
                    //alert("In");
                    $("#tr_ActivityID").show();
                },
                errorTextFormat: function (data) {
                    return 'Error: ' + data.responseText
                }
            },
            // options for the Delete Dailog
            {
                onclickSubmit: function (options, postdata) {
                    var rowid = $('#jqGrid').jqGrid('getGridParam', 'selrow');
                    var ID = $('#jqGrid').jqGrid('getCell', rowid, 'Id')
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteResource","Resource")',
                        data: '{ID: ' + JSON.stringify(ID)+'}',
                        dataType: "json",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (Data) {

                            if (Data) {

                                $.alert({
                                    title: 'Delete !',
                                    content: 'Deleted Sussfully..!',// <br> with some <strong>HTML</strong> <em>contents</em>',
                                    icon: 'fa fa-trfa-trash-o',
                                    animation: 'scale',
                                    closeAnimation: 'scale',
                                    buttons: {
                                        okay: {
                                            text: 'Okay',
                                            btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                            action: function (event, ui) {
                                                $(this).remove();
                                                //LoadTable(IDInstance);
                                                $('#jqGrid').trigger('reloadGrid');
                                            }
                                        }
                                    }

                                });


                                //debugger;
                                //alert("");
                            }
                            //for (var i = 0; i < Data.length; i++) {
                            //    var obj = {};
                            //    var Name = Data[i].Name;
                            //    var key = "" + Data[i].UserId;
                            //    Parameters[key] = Name;
                            //}
                        },
                        error: function (data) {
                            alert("fail");
                        }
                    });
                    //debugger;
            //        alert('in onclickSubmit: postdata=' + postdata);
            //        //return { myData: 'Hello'};
            //        $('#del_gridTemp').click(function () {
            //    alert('in click selarrrow=[' + $grid.jqGrid('getGridParam', 'selarrrow').join(', ') + ']');
            //});
                },
                errorTextFormat: function (data) {
                    return 'Error: ' + data.responseText
                }
            },
            // search options - define multiple search
            {
                multipleSearch: true,
                showQuery: false
            }
        );
    }
    var buildSelectFromJson = function (response) {
        var html = '<select>', d = JSON.parse(response), length = d.length, i = 0, item;
        for (; i < length; i++) {
            item = d[i];
            html += '<option value=' + item.ActivityID + '>' + item.Task + '</option>';
        }
        html += '</select>';
        return html;
    };
     function GetStatusDropDown() {
        var Parameters = {};
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetStatus","ProjectMonitor")',
            //data: '{Phase: ' + JSON.stringify(Phase) + ',condition:' + JSON.stringify(condition) + '}',
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (Data) {
                //debugger;
                for (var i = 0; i < Data.length; i++) {
                    //var obj = {};
                    var StatusName = Data[i].StatusName;
                    var key = "" + Data[i].Id;
                    Parameters[key] = StatusName;
                }
            },
            error: function (data) {
                alert("GetStatus fail");
            }
        });
        return Parameters;
    }
    function GetPhaseDropDown() {
        var Parameters = {};
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPhase","ProjectMonitor")',
            data: '{RoleID: ' + JSON.stringify(0)+ '}',
            //data: '{Phase: ' + JSON.stringify(Phase) + ',condition:' + JSON.stringify(condition) + '}',
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (Data) {
                //debugger;
                //$.each(Data, function (data1, value) {

                //    $("#PhaseId").append($("<option></option>").val(value.Id).html(value.PhaseName));
                //});
                for (var i = 0; i < Data.length; i++) {
                    var obj = {};
                    var PhaseName = Data[i].PhaseName;
                    var key = "" + Data[i].Id;
                    Parameters[key] = PhaseName;
                }
            },
            error: function (res) {
                alert("fail");
            }
        });
        return Parameters;
    }
    function GetRoleDropDown() {
        var Parameters = {};
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetRole","ProjectMonitor")',
            //data: '{Phase: ' + JSON.stringify(Phase) + ',condition:' + JSON.stringify(condition) + '}',
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (Data) {
                for (var i = 0; i < Data.length; i++) {
                    var obj = {};
                    var RoleName = Data[i].RoleName;
                    var key = "" + Data[i].RoleId;
                    Parameters[key] = RoleName;
                }
            },
            error: function (data) {
                alert("fail");
            }
        });
        return Parameters;

    }
    function UpdateUserByRole(RoleID) {
         //$("#RoleID").attr("disabled", "disabled");
         $("#UserID")
            .html("<option value=''>Loading User...</option>")
            .attr("disabled", "disabled");

        $.ajax({
            url: '@Url.Action("GetUser","ProjectMonitor")'+"?RoleID="+RoleID,
           // data: '{RoleID: ' + JSON.stringify(RoleID)+'}',
			dataType: "json",
			contentType: "application/json; charset=utf-8",
            success: function (res) {
                //debugger;
                $("#UserID")
                    .removeAttr("disabled");
                 $('#UserID').empty()
                $.each(res, function (data, value) {
                    var d = "00000000-0000-0000-0000-000000000000"
                    if (value.UserId!=d) {
                         $("#UserID").append($("<option></option>").val(value.UserId).html(value.Name));
                    }

                })
            }
                    //.html(citiesHtml);

        });

    }
    $("#RoleID").change(function () {
       // debugger;
        var RoleID = $("#RoleID").val();
        UpdateUserByRole(RoleID)
    });
    function GetUserDropDown() {
	var Parameters = {};
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetAllUser","ProjectMonitor")',
        //data: '{Phase: ' + JSON.stringify(Phase) + ',condition:' + JSON.stringify(condition) + '}',
        dataType: "json",
		async: false,
        contentType: "application/json; charset=utf-8",
        success: function (Data) {
            //debugger;
				for (var i = 0; i < Data.length; i++) {
                var obj = {};
                    var Name = Data[i].Name;
                var key = ""+Data[i].UserId;
                Parameters[key] = Name;
            }
        },
        error: function (data) {
            alert("fail");
        }
    });
	return Parameters;
    }
    function GetMasterAddPostConversion() {
	var Parameters = {};
    $.ajax({
        type: "POST",
        url: '@Url.Action("MasterAddPostConversion","Resource")',
        //data: '{Phase: ' + JSON.stringify(Phase) + ',condition:' + JSON.stringify(condition) + '}',
        dataType: "json",
        async: false,
        contentType: "application/json; charset=utf-8",
        success: function (Data) {
            //debugger;
				for (var i = 0; i < Data.length; i++) {
                var obj = {};
                    var Name = Data[i].Task;
                var key = ""+Data[i].ActivityID;
                Parameters[key] = Name;
            }
        },
        error: function (data) {
            alert("fail");
        }
    });
	return Parameters;
    }

    function DeletePost() {
        alert("IN");
		//Here you need to define ajax call for insert records to server
		console.log(params);
	}
</script>

