
@{
    ViewBag.Title = "Resource Allocation";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<a class="card-title">Resource Allocation</a>
<div class="row" style="padding: 1em; max-width:100%;">
    <div class="col-lg-12 card">
        <div class="row">
            @if (User.IsInRole("Consultant") || User.IsInRole("Admin"))
            {
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Customer Name</label>
                        @Html.DropDownList("Company ", (IEnumerable<SelectListItem>)ViewBag.Customer, "-Select-", new { id = "IDCustomer", @class = "form-control" })
                        @*@Html.DropDownList("Project", (IEnumerable<SelectListItem>), "- SELECT-", new { id = "IDProject", @class = "form-control" })*@
                    </div>
                </div>
            }
            <div class="col-md-4">
                <label class="">Project Name</label>
                @if (User.IsInRole("Customer") || User.IsInRole("Project Manager"))
                {
                    @Html.DropDownList("Project", (IEnumerable<SelectListItem>)ViewBag.Project, "-Select-", new { id = "IDProject", @class = "form-control" })
                }
                else
                {
                    @Html.DropDownList("Project", new SelectList(Enumerable.Empty<SelectListItem>(), "IDProject", "ProjectName"),
                           "Select a Customer", new { id = "IDProject", @class = "form-control" })
                }
            </div>
            <div class="col-md-2">
                <label for="exampleEmail" class="">Instance Name</label>
                @Html.DropDownList("Instance", new SelectList(Enumerable.Empty<SelectListItem>(), "IDInstance", "InstanceName"),
                "-Select-", new { id = "IDInstance", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <label for="exampleEmail" class="">.</label>
                <button class="btn-wide mb-2 mr-2 btn btn-primary form-control" id="SubmitInstance">
                    Select Instance
                </button>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-6">
            <a class="card-title" style="float: left;">Project Name :</a>
            <input id="Project_Name">
        </div>
        <div class="col-6">
            <a class="card-title " style="float: right;">Instance Name :</a>
        </div>
    </div>*@
@{
    Html.RenderAction("ResourceAllocation", "Resource");
}
<input type="hidden" id="hdnSessionProject_ID" value="@Session["Project_ID"]" />
<input type="hidden" id="hdnSessionInstance_ID" value="@Session["Instance_ID"]" />
<script>
    $(document).ready(function () {
        $("#IDInstance").prop("disabled", true);
        $('#SubmitInstance').prop("disabled", true);

        $(window).on("resize", function () {
            var newWidth = $("#jqGrid").closest(".ui-jqgrid").parent().width();
            $("#jqGrid").jqGrid("setGridWidth", newWidth, true);
        });

        var Instance=$("#hdnSessionInstance_ID").val();
        if (Instance != "") {
            var IDInstance = $("#hdnSessionInstance_ID").val();
            $.ajax({
                url: '@Url.Action("SubmitInstance", "Home")',
                type: "POST",
                data: { 'IDInstance': IDInstance },
                success: function (result) {
                    Notiflix.Notify.Success('New Live Instance updated !', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                    LoadTable(IDInstance);

                    $('#jqGrid').trigger('reloadGrid');

                }
            });
        }
         

    });
     $('#IDCustomer').change(function () {
            $("#IDInstance").prop("disabled", false);
            var id = $(this).val();
             var select = $("#IDProject");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadProject","Home")',
                data: { 'CustomerId' : id},
                success: function (data) {
                    var select = $("#IDProject");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                    $("#IDProject").prop("disabled", false);
                    $("#IDInstance").prop("disabled", true);
                    $('#SubmitInstance').prop("disabled", true);
                },
                error: function (a) {
                    debugger;
                    alert(a);
                }
            });
        });
    $('#IDProject').change(function () {

            var id = $(this).val();
			$('#SubmitInstance').prop("disabled", true);
             var select = $("#IDInstance");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadInstanceforResource","Home")',
                data: { 'ProjectId' : id},
                success: function (data) {
                    var select = $("#IDInstance");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "-Select-"
                    }));
                    if (data.length > 0) {
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                        $("#IDInstance").prop("disabled", false);
                    }
                    else {
                        $("#IDInstance").prop("disabled", true);
						$('#SubmitInstance').prop("disabled", true);
                    }
                },
                error: function (a) {
                    alert(a);
                }
            });
            });
    $('#IDInstance').change(function () {
                var id = $(this).val();
                if (id == ""||id =="0") {
                     $('#SubmitInstance').prop("disabled", true);
                } else {
					$('#SubmitInstance').prop("disabled", false);
                }
            });
    $('#SubmitInstance').click(function () {
        var IDInstance = $("#IDInstance").val();
        var IDProject = $("#IDProject").val();
        $.ajax({
            //url: '<%: Url.Action("Upload")%>?Cust_ID=' + Cust_ID + '&IDProject=' + IDProject+'&InstanceID='+InstanceID,
            url: '@Url.Action("SubmitInstance", "Home")',
            type: "POST",
            data: { 'IDInstance': IDInstance },
            success: function (result) {
                Notiflix.Notify.Success('New Live Instance updated !', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                LoadTable(IDInstance);
                //$("#Project_Name").val(IDProject);
                 $('#jqGrid').trigger('reloadGrid');
                   //setTimeout(Redirect, 3000);
                //$.alert({
                //    title: 'Alert !',
                //    content: 'New Live Instance updated',// <br> with some <strong>HTML</strong> <em>contents</em>',
                //    icon: 'fa fa-rocket',
                //    animation: 'scale',
                //    closeAnimation: 'scale',
                //    buttons: {
                //        okay: {
                //            text: 'Okay',
                //            btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                //            action: function (event, ui) {
                //                $(this).remove();

                //            }
                //        }
                //    }

                //});


            }
        });
    });
    //function Redirect() {
    //    LoadTable(IDInstance);
    //    $('#jqGrid').trigger('reloadGrid');
    //}
</script>


