@model ProACC_DB.ProjectInstanceConfig

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@*<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>*@
<div>
    <h4>Are you sure you want to delete this ProjectInstanceConfig?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated_Dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated_Dt)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cre_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cre_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cre_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cre_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CustomerProjectConfig.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerProjectConfig.ProjectName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
