@{
    ViewBag.Title = "Create Project Creation";
}


<a class="card-title" id="prjtCreate">Project Creation</a>
<a class="card-title" id="prjtUpdate" style="display:none">Project Updation</a>
<hr />
<div style="padding:1em;" id="Prjt-Create">
    <div class="row">

        <div class="col-6">
            <input type="hidden" id="proj_id" />
            <input type="hidden" id="projcre_on" />
            <input type="hidden" id="projcre_By" />

            <div class="form-group">
                <label class="control-label col-md-4 required">Project Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtProjectName" />
                    @*<span id="lblProjectName" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblProjectName">&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4 required">Customer</label>
                <div class="col-md-10">
                    <select class="form-control" id="drpCustomer">
                        <option value="0">Select Customer</option>
                        @foreach (var item in ViewBag.Customer)
                        {
                            <option value="@item.Customer_ID">@item.Company_Name</option>
                        }
                    </select>
                    @*<input type="text" class="form-control" id="txtCustomerPhone" maxlength="10" />*@
                    @*<span id="lblCustomerName" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblCustomerName">&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4 required">Project Manager</label>

                <div class="col-md-10">
                    <select class="form-control" id="drpProjectManager">
                        <option value="0">Select Project Manager</option>
                        @foreach (var item in ViewBag.ProjectManager)
                        {
                            <option value="@item.UserId">@item.Name</option>
                        }
                    </select>
                    @*<input type="text" class="form-control" id="txtCustomerPhone" maxlength="10" />*@
                    @*<span id="lblCustomerName" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblProjectManager">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4 required">Scenario </label>

                <div class="col-md-10">
                    <select class="form-control" id="drpScenario">
                        <option value="0">Select Scenario </option>
                        @foreach (var item in ViewBag.Scenario)
                        {
                            <option value="@item.ScenarioId">@item.ScenarioName</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblScenario">&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4">Description</label>

                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtDescription" />
                    @*<span id="lblDescription" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblDescription">&nbsp;</span>
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Create" class="btn btn-primary" id="btnProjectCreate" />
                    <input type="button" value="Update" class="btn btn-info" id="btnProjectUpdate" style="display:none" />
                    <a class="btn btn-success" id="btnAddNew" style="display:none"><i class="fa fa-plus"></i>New Project</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        $("#btnProjectCreate").prop('disabled', true);

        var projectName = $("#txtProjectName").val().trim();
        var Customerid = $("#drpCustomer").val();
        var sceID = $("#drpScenario").val();
        var Description = $("#txtDescription").val();

        $("#txtProjectName").keypress(function (event) {

            if (event.which === 44) {
                event.preventDefault();
                $("#lblProjectName").html("Not Allowed").show().fadeOut(5000);
            }
            else {
                $("#lblProjectName").html("").show();
            }
            ValidateProject();
        });

        var typingTimer;                //timer identifier
        var doneTypingInterval = 1000;  //time in ms, 1 second for example

       // on keyup, start the countdown
         $('#txtProjectName').on('keyup', function () {
          clearTimeout(typingTimer);
          typingTimer = setTimeout(ProjectNameCheck, doneTypingInterval);
        });

        //on keydown, clear the countdown
         $('#txtProjectName').on('keydown', function () {
          clearTimeout(typingTimer);
        });


        function ProjectNameCheck() {

            var ProjName = $("#txtProjectName").val().trim();
            ProjName = ProjName.replace(",", " ");
            var id=$("#proj_id").val();
            if (ProjName == "") {
                $("#lblProjectName").html("Please Enter valid Project name").show().fadeOut(5000);
                ValidateProject();
            }
            else {
                $.ajax({
                url: '@Url.Action("CheckProjectNameAvailability", "ProjectCreation")',
                type: "GET",
                data: { namedata: ProjName, id: id },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#lblProjectName").html("This project Name is already in use").show();
                       ValidateProject();
                    }
                    else {
                        $("#lblProjectName").html("").hide();
                        ValidateProject();
                    }
                },
                    error: function (err) {
                        alert(err);
                }
            });
            }
        }


        $('#drpCustomer,#drpProjectManager,#drpScenario').change(function () {

             var projectName = $("#txtProjectName").val().trim();
            var Customerid = $("#drpCustomer").val();
            var PMID = $("#drpProjectManager").val();
            var sceID = $("#drpScenario").val();
            if (projectName != "" && Customerid != 0 && PMID != 0 && sceID!=0) {
                $("#lblCustomerName").html("");
                $("#lblProjectManager").html("");
                $("#lblScenario").html("");
                ValidateProject();
            }
            else {
                 ValidateProject();
            }
        });


    });

 
    function ValidateProject() {

         var projectName = $("#txtProjectName").val().trim();
        var Customerid = $("#drpCustomer").val();
        var PMID = $("#drpProjectManager").val();
        var sceID = $("#drpScenario").val();

        var lblprojectName = $("#lblProjectName").text().trim();
        var lblCustomerid = $("#lblCustomerName").text().trim();
        var lblPMID = $("#lblProjectManager").text().trim();
        var lblsce= $("#lblScenario").text().trim();

         if (projectName.length > 0 && Customerid != 0 && PMID != 0 && sceID!=0&&
            lblprojectName == "" &&  lblCustomerid == "" && lblPMID == "" && lblsce=="") {

             $("#btnProjectCreate").prop("disabled", false);
             $("#btnProjectUpdate").prop("disabled", false);
        }
         else {
             $("#btnProjectCreate").prop("disabled", true);
             $("#btnProjectUpdate").prop("disabled", true);
        }

    }

    $("#btnProjectCreate").on("click", function () {

        var projectName = $("#txtProjectName").val().trim();
        projectName = projectName.replace(",", " ");
        var Customerid = $("#drpCustomer").val();
        var Description = $("#txtDescription").val();
        var PMID = $("#drpProjectManager").val();
        var sceID = $("#drpScenario").val();

        if (projectName == "") {
            $("#lblProjectName").html("Please enter the Project Name").show().fadeOut(5000);
            ValidateProject();
        }
        else if (Customerid == 0)
        {
            $("#lblCustomerName").html("Please Select the Customer Name").show().fadeOut(5000);
            ValidateProject();
        }
        else if (PMID == 0)
        {
            $("#lblProjectManager").html("Please Select the Project Manager").show().fadeOut(5000);
            ValidateProject();
        }
            else if (sceID == 0)
        {
            $("#lblScenario").html("Please Select the Scenario").show().fadeOut(5000);
            ValidateProject();
        }
        else {
            $.ajax({
                    type: "POST",
                url: '@Url.Action("Create","ProjectCreation")',
                data: {
                    project_Name: projectName,
                    Customer_Id: Customerid,
                    Description: Description,
                    ProjectManager_Id: PMID,
                    ScenarioId:sceID
                },
                    success: function (response) {
                        if (response == "success") {
                            Notiflix.Notify.Success('Project Saved successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                            loadProjectCreation();
                            Reset();
                            $("#btnProjectCreate").show();
                        }
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                error: function (response) {
                        alert(response.responseText);
                    }
            });
        }
    });

    $("#btnProjectUpdate").on("click", function () {

        var id = $("#proj_id").val();
        var projectName = $("#txtProjectName").val().trim();
        projectName = projectName.replace(",", " ");
        var Customerid = $("#drpCustomer").val();
        var PMID = $("#drpProjectManager").val();
        var sceID = $("#drpScenario").val();
        var Description = $("#txtDescription").val();
        var cre_on = $("#projcre_on").val();
        var cre_By = $("#projcre_By").val();

        var model = {
            Project_Id: id,
            Project_Name: projectName,
            Customer_Id: Customerid,
            ProjectManager_Id: PMID,
            ScenarioId: sceID,
            Description: Description,
            Cre_on: cre_on,
            Cre_By: cre_By
        }
        if (projectName == "") {
            $("#lblProjectName").html("Please enter the Project Name").show().fadeOut(5000);
            ValidateProject();
        }
        else if (Customerid == 0) {
            $("#lblCustomerName").html("Please enter the Customer Name").show().fadeOut(5000);
            ValidateProject();
        }
        else if (PMID == 0) {
            $("#lblProjectManager").html("Please Select the Project Manager").show().fadeOut(5000);
            ValidateProject();
        }
        else if (sceID == 0) {
            $("#lblScenario").html("Please Select the Scenario").show().fadeOut(5000);
            ValidateProject();
        }
        else {

            $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit","ProjectCreation")',
                    data: { model : model},
                    //dataType: "json",
                    success: function (response) {
                        if (response == "success") {
                            Notiflix.Notify.Success('Project <Strong>Update </strong>successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                            loadProjectCreation();
                            Reset();

                            $("#btnAddNew").hide();
                            $("#btnProjectUpdate").hide();
                            $("#btnProjectCreate").show();
                            $("#prjtCreate").show();
                            $("#prjtUpdate").hide();

                        }
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });

        }
    });

    function Reset() {
        $("#txtProjectName").val("")
        $("#drpScenario").val(0);
        $("#drpCustomer").val(0);
        $("#drpProjectManager").val(0);
        $("#txtDescription").val("")

    }

</script>