@model IEnumerable<ProACC_DB.Project>
@*@{
    var projdetails = ViewBag.Projdetails;
}*@

<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
    <script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>

<table class="table" id="tblProjectCreation">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Cre_on</th>
            <th>Customer Name</th>
            <th>Project Manager</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a class="txtG" value="@item.Project_Name">@item.Project_Name</a>
            </td>
            <td>
                <a class="txtG" value="@item.Cre_on">@item.Cre_on</a>
            </td>
            <td>
                <a class="txtG" value="@item.Customer_Id">@item.Customer.Company_Name</a>
            </td>
            <td>
                <a class="txtG" value="@item.ProjectManager_Id">@item.UserMaster.Name</a>
            </td>
            <td>
                <a class="txtG" value="@item.Description">@item.Description</a>
            </td>

            <td>
                <a href="#" id="btnprjtEdit" class="editProjectCreation fa fa-edit"></a><input type="hidden" value="@item.Project_Id" /> |
                <a href="#" class="btnProjCreationDelete fa fa-trash"></a><input type="hidden" value="@item.Project_Id" />
            </td>
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript">


    $(document).ready(function () {
        $("#tblProjectCreation").dataTable({
            "order": [[1, 'desc']],
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": false
                }
            ]
        } );
    });

    $(".editProjectCreation").on("click", function () {

        var id = $(this).next().val();
        $.ajax({
            url: '@Url.Action("GetProjCreationById","ProjectCreation")',
            type: "GET",
            data: { id: id },
            //processData: false,

            success: function (result) {

                $("#proj_id").val(result.Project_Id);
                $("#txtProjectName").val(result.Project_Name);
                $("#drpCustomer").val(result.Customer_Id);
                $("#drpProjectManager").val(result.ProjectManager_Id);
                $("#txtDescription").val(result.Description);
                $("#projcre_on").val(result.Cre_on);
                $("#projcre_By").val(result.Cre_By);
                $("#btnProjectUpdate").show();
                $("#btnAddNew").show();
                $("#btnProjectCreate").hide();
                $("#prjtCreate").hide();
                $("#prjtUpdate").show();

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });

    @*$(".btnProjCreationDelete").on("click", function () {
        var id = $(this).next().val();
       var retVal = confirm("Do you want to delete ?");
               if( retVal == true ) {
                $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","ProjectCreation")',
                data: { id:id },
                dataType: "json",
                success: function (response) {
                    if (response == "success") {
                        $.alert({
                            title: 'Sucess !',
                            content: 'Project deleted <strong>successfully</strong>..!',// <br> with some <strong>HTML</strong> <em>contents</em>',
                            icon: 'fa fa-rocket',
                            animation: 'scale',
                            closeAnimation: 'scale',
                            buttons: {
                                okay: {
                                    text: 'Okay',
                                    btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                    action: function (event, ui) {
                                        location.reload();
                                    }
                                }
                            }
                        });
                        //alert("Project deleted successfully!");
                        //location.reload();
                    }

                    else {
                        alert("Project Instances are in active");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
                  return true;
               } else {
                  return false;
               }
    });*@

    $(".btnProjCreationDelete").on("click", function () {
        var id = $(this).next().val();
        $.confirm({
              title: 'Delete !',
              content: 'Do you want to delete ?',
              icon: 'fa fa-trash-o',
              animation: 'scale',
              closeAnimation: 'scale',
              opacity: 0.5,
              buttons: {
                 'confirm': {
                    text: 'Yes',
                    btnClass: 'btn-blue',
                    action: function () {
                      $.ajax({
                          type: "POST",
                           url: '@Url.Action("Delete","ProjectCreation")',
                           data: { id: id },
                           dataType: "json",
                           success: function (response) {
                              if (response == "success") {
                                 $.alert({
                                    title: 'Alert !',
                                    content: 'Project deleted successfully!..!',// <br> with some <strong>HTML</strong> <em>contents</em>',
                                    icon: 'fa fa-rocket',
                                    animation: 'scale',
                                    closeAnimation: 'scale',
                                    buttons: {
                                       okay: {
                                          text: 'Okay',
                                          btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                            action: function (event, ui) {
                                                $(this).remove();
                                                location.reload();
                                            }
                                       }
                                    }
                                 });
                              }
                              else {
                               $.alert({
                                 title: 'Alert !',
                                 content: 'Project Instances are in active..!',
                                 icon: 'fa fa-rocket',
                                 animation: 'scale',
                                 closeAnimation: 'scale',
                                  buttons: {
                                   okay: {
                                     text: 'Okay',
                                     btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                     action: function (event, ui) {
                                        $(this).remove();
                                        location.reload();
                                     }
                                   }
                                  }
                               });
                              }
                           },
                           failure: function (response) {
                              alert(response.responseText);
                           },
                           error: function (response) {
                               alert(response.responseText);
                           }
                      });
                    }
                 },
                 cancel: function(){
                       $.alert('You clicked on <strong>cancel</strong>');
                 },
              }
         });
    });
</script>
