@model IEnumerable<ProACC_DB.Project>
@*@{
    var projdetails = ViewBag.Projdetails;
}*@

<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
    <script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>

<table class="table" id="tblProjectCreation">
    <thead>
        <tr>
            <th>ProjectName</th>
            <th>Cre_on</th>
            <th>Customer Name</th>
            <th>Project Manager</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a class="txtG" value="@item.Project_Name">@item.Project_Name</a>
            </td>
            <td>
                <a class="txtG" value="@item.Cre_on">@item.Cre_on</a>
            </td>
            <td>
                <a class="txtG" value="@item.Customer_Id">@item.Customer.Company_Name</a>
            </td>
            <td>
                <a class="txtG" value="@item.ProjectManager_Id">@item.UserMaster.Name</a>
            </td>
            <td>
                <a class="txtG" value="@item.Description">@item.Description</a>
            </td>

            <td>
                <a href="#" id="btnprjtEdit" class="editProjectCreation fa fa-edit"></a><input type="hidden" value="@item.Project_Id" /> |
                <a href="#" class="btnProjCreationDelete fa fa-trash"></a><input type="hidden" value="@item.Project_Id" />
            </td>
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript">


    $(document).ready(function () {
        $("#tblProjectCreation").dataTable({
            "order": [[1, 'desc']],
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": false
                }
            ]
        } );
    });

    $(".editProjectCreation").on("click", function () {
        
        var id = $(this).next().val();
        $.ajax({
            url: '@Url.Action("GetProjCreationById","ProjectCreation")',
            type: "GET",
            data: { id: id },
            //processData: false,
            
            success: function (result) { 

                $("#proj_id").val(result.Project_Id);
                $("#txtProjectName").val(result.Project_Name);
                $("#drpCustomer").val(result.Customer_Id);
                $("#drpProjectManager").val(result.ProjectManager_Id);
                $("#txtDescription").val(result.Description);
                $("#projcre_on").val(result.Cre_on);
                $("#projcre_By").val(result.Cre_By);
                $("#btnProjectUpdate").show();
                $("#btnAddNew").show();
                $("#btnProjectCreate").hide();

            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });

    $(".btnProjCreationDelete").on("click", function () {
        var id = $(this).next().val();
       var retVal = confirm("Do you want to delete ?");
               if( retVal == true ) {
                $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","ProjectCreation")',
                data: { id:id },
                dataType: "json",
                success: function (response) {
                    if (response == "success") {
                        alert("Project deleted successfully!");
                        //loadProjectCreation();
                        location.reload();
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
                  return true;
               } else {
                  return false;
               }
    });
</script>
