
@model ProACC_DB.UserMaster

@{
    ViewBag.Title = "CreateUsers";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="~/Asset/css/intlTelInput.css" rel="stylesheet" />
<script src="~/Asset/js/intlTelInput.js"></script>
<script src="~/Asset/js/intlTelInput.min.js"></script>

<a class="card-title">Create User</a>
<hr />
<div style="padding:1em;" class="col-lg-12">
    <div class="row">
        <div class="col-6">

            @*<input type="hidden" id="customerid" />
                <input type="hidden" id="pcre_on" />
                <input type="hidden" id="pcre_By" />*@

            <div class="form-group">
                <label class="control-label col-md-4 required">Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtName1" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblName1">&nbsp;</span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4 required">Login ID</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="LoginID" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="StatusConsultant">&nbsp;</span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4 required">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="Passwd" maxlength="8" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblPwd">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-8 required">Confirm Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="txtConsCnfmPassword" maxlength="8"/>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp; <span class="Class_span" id="lblAltConsPwd" >&nbsp;</span>
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4 required">Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtEmail1" />  @*onchange="ValidateEmail1()"*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblEmail1">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                    <label class="control-label col-md-4 required">Phone Number</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" maxlength="10" id="txtMob" />
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblMob1">&nbsp;</span>
                    </div>
            </div>

            @*<div class="form-group">
                <label class="control-label col-md-5 required">Contact Person Phone</label>
                <div class="col-md-10">
                    <input type="hidden" class="form-control" id="selectedCountry">
                    <input type="tel" class="form-control" id="txtMob" style="width: 135%;">
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp; <span id="valid-msg" class="hide Class_span">&nbsp;</span>
                    &nbsp;&nbsp;&nbsp;<span id="error-msg" class="hide Class_span">&nbsp;</span>
                </div>
            </div>*@

            <div class="form-group">
                <label class="control-label col-md-4 required">User Type</label>
                <div class="col-md-10">
                    <select class="form-control" id="UserTypeID">
                        <option value="0">Select User</option>
                        @foreach (var item in ViewBag.UserTypeID)
                        {
                            <option value="@item.UserTypeID">@item.UserType</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblUserTypeID">&nbsp;</span>
                </div>
            </div>

            <div class="form-group" id="divRole">
                <label class="control-label col-md-4 required">Role</label>
                <div class="col-md-10">
                    <select class="form-control" id="RoleID">
                        @*<option value="0">Select Role</option>*@
                        @foreach (var item in ViewBag.RoleID)
                        {
                            <option value="@item.RoleId">@item.RoleName</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="RoleID">&nbsp;</span>
                </div>
            </div>


            <div class="form-group" id="divCust">
                <label class="control-label col-md-4 required">Customer</label>
                <div class="col-md-10">
                    <select class="form-control" id="Customer_Id">
                        @*<option value="0">Select Customer</option>*@
                        @foreach (var item in ViewBag.Customer_Id)
                        {
                            <option value="@item.Customer_ID">@item.Company_Name</option>
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblCustomer_Id">&nbsp;</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="col-md-offset-2 col-md-12">
                <button type="button" class="btn btn-primary ld-ext-right" onclick="this.classList.toggle('running')" id="btnConsultantCreate">
                    Create
                    <div class="ld ld-ring ld-spin"></div>
                </button>
                <div class="col-lg-3" style="float:right;">
                    @Html.ActionLink("Back to List", "Index", "User")
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("RedirectToUserList", Url.Action("Index", "User"))
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnConsultantCreate").prop("disabled", true);

        $("#txtName1").keypress(function(event){
            var inputValue = event.which;
            // allow letters and whitespaces only.

            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
                $("#lblName1").html("Not Allowed").show().fadeOut(5000);
                //SubmitConsultant();
            }
            else {
                $("#lblName1").html("").show();
                SubmitConsultant();
            }
        });

         $('#txtName1').on('focusout', function () {

             var CnstName = $("#txtName1").val().trim();
              CnstName = CnstName.replace(/,/g, " ");
            if (CnstName == "") {
                $("#lblName1").html("Please Enter valid Name").show();
                SubmitConsultant();
            }
            else {
                $.ajax({
                url: '@Url.Action("NameAvailability", "User")',
                type: "GET",
                data: { namedata: CnstName },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#lblName1").html("This Name is already in use").show();
                        SubmitConsultant();
                    }
                    else {
                        $("#lblName1").html("");
                        SubmitConsultant();
                    }

                },
                error: function (err) {

                    alert(err);
                }
            });
            }

         });

         $('#LoginID').on('keypress', function (e) {
            if (e.which === 44) {
                e.preventDefault();
                $("#StatusConsultant").html("Not Allowed").show().fadeOut(5000);
            }
            else {
                $("#StatusConsultant").html("").show();
            }

         });

        $('#LoginID').on('focusout', function () {

            var CnstUserName = $("#LoginID").val().trim();
             CnstUserName = CnstUserName.replace(/,/g, "");
            if (CnstUserName == "") {
                $("#StatusConsultant").html("Please Enter valid LoginId").show().fadeOut(5000);
                SubmitConsultant()
            }
            else {
                $.ajax({
                url: '@Url.Action("UsernameAvailability", "User")',
                type: "GET",
                data: { userdata: CnstUserName },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#StatusConsultant").html("This LoginId is already taken , please select another").show().fadeOut(5000);
                        SubmitConsultant()
                    }
                    else {
                        $("#StatusConsultant").html("");
                        SubmitConsultant();
                    }

                },
                error: function (err) {

                    alert(err);
                }
            });
            }

        });

         $("#txtMob").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
             if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                 e.preventDefault();
                 $("#lblMob1").html("Numbers Only").show().fadeOut("slow");
             }
             else {
                  $("#lblMob1").html("").show();
             }
             SubmitConsultant();
         });

        

        //var input = document.querySelector("#txtMob"),
        //    errorMsg = document.querySelector("#error-msg"),
        //    validMsg = document.querySelector("#valid-msg");

        //// Error messages based on the code returned from getValidationError
        //var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

        //var intl = window.intlTelInput(input, {
        //     utilsScript: "../Asset/js/utils.js",
        //     separateDialCode: true 
        //});

        //var reset = function () {
        //    input.classList.remove("error");
        //    errorMsg.innerHTML = "";
        //    errorMsg.classList.add("hide");
        //    validMsg.classList.add("hide");
        //};

        //var countryCode;
        //input.addEventListener('countrychange', function () {
        //    countryCode = intl.getSelectedCountryData().iso2;
        //    $("#selectedCountry").val(countryCode);
        //    //alert(countryCode)
        //})

        //// Validate on blur event
        //input.addEventListener('blur', function () {
        //    //debugger;
        //    reset();
        //    if (input.value.trim()) {
        //        if (intl.isValidNumber()) {
        //            validMsg.classList.remove("hide");

        //        } else {
        //            input.classList.add("error");
        //            var errorCode = intl.getValidationError();
        //            errorMsg.innerHTML = errorMap[errorCode];
        //            errorMsg.classList.remove("hide");
        //        }
        //    }
        //    SubmitConsultant();
        //});

        //// Reset on keyup/change event
        //input.addEventListener('change', reset);
        //input.addEventListener('keyup', reset);

        $("#Passwd,#txtConsCnfmPassword").bind('copy paste cut', function (e) {
            e.preventDefault();
        });

        $("#Passwd").on("keypress", function (e) {
            if (e.which === 44) {
                e.preventDefault();
                $("#lblPwd").html("Not Allowed").show().fadeOut(1000);
            }
            else {
                 $("#lblPwd").html("").show();
            }           
        });

       var typingTimer;                //timer identifier
        var doneTypingInterval = 500;  //time in ms, 0.5 second for example

       // on keyup, start the countdown
         $('#Passwd').on('keyup', function () {
          clearTimeout(typingTimer);
          typingTimer = setTimeout(TaskPwd, doneTypingInterval);
        });

        //on keydown, clear the countdown
         $('#Passwd','#txtEmail1','#txtMob','#txtConsCnfmPassword').on('keydown', function () {
          clearTimeout(typingTimer);
        });

        function TaskPwd() {
           
           var str = $("#Passwd").val();
            var filter = /^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).{6,8}$/;
            if (str.length < 6) {
                 $("#lblPwd").html("password should contain 6-8 characters").show();
            }
            else if (!filter.test(str)) {
                $("#lblPwd").html("password should contain at least one character and a number").show();
            }
            else {
                $("#lblPwd").html("");
            }
            SubmitConsultant()           
        }
                
        // on keyup, start the countdown
        $('#txtEmail1').on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(TaskEmail, doneTypingInterval);
        });

        function TaskEmail() {
             var str = $("#txtEmail1").val();
             var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (!filter.test(str)) {
                $("#lblEmail1").html("Email is not valid").show().fadeOut(1000);
            }
            else {
                $("#lblEmail1").html("").show();
            }
            SubmitConsultant()
        }      

        // on keyup, start the countdown
        $('#txtMob').on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(TaskPhone, doneTypingInterval);
        });

        function TaskPhone() {
             phone = $("#txtMob").val();
            phone = phone.replace(/[^0-9]/g,'');
            if (phone.length != 10) {
                $("#lblMob1").html("Phone number must be 10 digits").show().fadeOut(1000);
            }
            else {
                $("#lblMob1").html("").show();
            }
            SubmitConsultant();
        }

        // on keyup, start the countdown
        $('#txtConsCnfmPassword').on('keyup', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(TaskCnfmPassword, doneTypingInterval);
        });

        function TaskCnfmPassword() {
            var str = $("#Passwd").val().trim();
            var str1 = $("#txtConsCnfmPassword").val().trim();
            if (str != str1) {
                $("#lblAltConsPwd").html("Password Does not match kindly check").show().fadeOut(1000);
            }
            else {
                $("#lblAltConsPwd").html("");
            }
            SubmitConsultant()
        }

        //$("#txtConsCnfmPassword").focusout(function () {
        
        //})

    });

</script>

<script>
    $("#UserTypeID").change(function () {
        var Id = $(this).val();
        if (Id == 1 || Id == 4||Id == 0) {
            $("#divRole").hide();
            $("#divCust").hide();
        }
        else if (Id == 2) {
            $("#divRole").show();
            $("#divCust").hide();
        }
        else if (Id = 3) {
            $("#divRole").show();
            $("#divCust").show();
        }
        SubmitConsultant();
    });

   
   
    //$("#txtConsCnfmPassword").focusout(function () {
    //    var str = $("#Passwd").val().trim();
    //    var str1 = $("#txtConsCnfmPassword").val().trim();
    //    if (str != str1) {
    //        $("#lblAltConsPwd").html("Password Does not match kindly check").show().fadeOut(5000);
    //    }
    //    else {
    //        $("#lblAltConsPwd").html("");
    //    }
    //     SubmitConsultant()
    //})

    function SubmitConsultant() {
        //debugger;
        //alert("HI");
        var Name1 = $("#txtName1").val().trim();
        var Mob = $("#txtMob").val().trim();
        var Email1 = $("#txtEmail1").val().trim();
        var LoginID = $("#LoginID").val().trim();
        var Passwd = $("#Passwd").val().trim();
        var UserTypeID = $("#UserTypeID").val().trim();
        var RoleID = $("#RoleID").val().trim();
        var Customer_Id = $("#Customer_Id").val();

        var lblName1 = $("#lblName1").text().trim();
        var lblMob1 = $("#lblMob1").text().trim();
        //var lblMob1 = $("#error-msg").text().trim();
        var lblEmail1 = $("#lblEmail1").text().trim();
        var Status1 = $("#StatusConsultant").text().trim();
        var lblAltConsPwd = $("#lblAltConsPwd").text().trim();



        if (Name1.length > 0 && Mob.length > 0 && Email1.length > 0 && LoginID.length > 0 && Passwd.length > 0 && UserTypeID!=0 &&
            lblName1 == "" && lblMob1 == "" && lblEmail1 == "" && Status1 == "" && lblAltConsPwd == "") {

            $("#btnConsultantCreate").prop("disabled", false);
        }
        else {
            $("#btnConsultantCreate").prop("disabled", true);
        }
    }

    function ValidateName(data) {
       var letters = /^[A-Za-z._, ]+$/;
       if (!letters.test(data)) {
           return false;
       }
    }

    $("#btnConsultantCreate").on("click", function () {

        var Name1 = $("#txtName1").val();
         Name1 = Name1.replace(/,/g, " ");
        var SelectedCountrycode = $("#selectedCountry").val();
        var Mob = $("#txtMob").val();
        var Email1 = $("#txtEmail1").val();
        var LoginID = $("#LoginID").val();
        LoginID = LoginID.replace(/,/g, "");
        var Passwd = $("#Passwd").val();
        var UserTypeID = $("#UserTypeID").val();
        var RoleID = $("#RoleID").val();
        var Customer_Id = $("#Customer_Id").val();

        if (Name1 == "" || ValidateName(Name1) == false) {
            $("#lblName1").html("Please enter the User Name").show().fadeOut(5000);
        }
         else if (Mob =="")
        {
            $("#lblMob1").html("Please enter the Mobile Number").show().fadeOut(5000);
            //$("#error-msg").html("Please enter the Mobile Number").show().fadeOut(5000);
        }
        else if (Email1 == "")
        {
            $("#lblEmail1").html("Please enter the Email Phone").show().fadeOut(5000);
        }
        else if (LoginID=="")
        {
            $("#StatusConsultant").html("Please enter the Login").show().fadeOut(5000);
        }
        else if (Passwd=="")
        {
            $("#lblPwd").html("Please enter the Password").show().fadeOut(5000);
            $("#txtConsCnfmPassword").val("");
        }
        else if (UserTypeID.val==0)
        {
            $("#lblUserTypeID").html("Please select the User Type").show().fadeOut(5000);
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create","User")',
                //data: { Company_Name: CompanyName, IndustrySector_ID: IndustrySector, Phone: custphone, Email: custEmail ,Contact:Contact},
                data: { Name: Name1, EMail: Email1, Phone: Mob, LoginId: LoginID, Password: Passwd, RoleID: RoleID, UserTypeID: UserTypeID, Customer_Id:Customer_Id,Countrycode: SelectedCountrycode },
                    success: function (response) {
                        if (response == "success") {
                            Notiflix.Notify.Success('User Saved successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });

                            setTimeout(Redirect, 3000);


                            //$.alert({
                            //    title: 'Success !',
                            //    content: 'User Saved successfully..!',
                            //    icon: 'fa fa-rocket',
                            //    animation: 'scale',
                            //    closeAnimation: 'scale',
                            //    buttons: {
                            //        okay: {
                            //            text: 'Okay',
                            //            btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                            //            action: function (event, ui) {
                            //                $(this).remove();
                            //                var url = $("#RedirectToUserList").val();
                            //                location.href = url;
                            //            }
                            //        }
                            //    }
                            //});
                        }
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });
    }
    });
    function Redirect() {
        var url = $("#RedirectToUserList").val();
        location.href = url;
    }
</script>

<script type="text/javascript">
    $(function () {
        var msg = '@ViewBag.Message';
        if (msg == 'True')
        {
        alert("Enter the Details");
        }
    });

    $(document).ready(function () {
        $("#btnConsultantCreate").prop('disabled', true);
        $("#divRole").hide();
        $("#divCust").hide();
    });
</script>