@model ProACC_DB.UserMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<style>
    .required::after {
        content: "*";
        font-weight: bold;
        color: red;
    }
    span{
        color: red;
    font-size: 14px;
    }
</style>
<a class="card-title">User Creation</a>
<hr />
@using (Html.BeginForm("Create", "User", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @*<h4><b>New Consultant</b></h4>*@
    <div style="padding:1em;" class="col-lg-12">
        @*<p style="color:red;float:right;margin-right:100px;">*  All Fields are mandatory</p>*@
        
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-6 ">

                <div class="position-relative form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-5 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "txtName1", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;<span id="lblName1">&nbsp;</span>
                    </div>
                </div>

                <div class="position-relative form-group">
                    @Html.LabelFor(model => model.LoginId, "Login ID", htmlAttributes: new { @class = "control-label col-md-5 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LoginId, new { htmlAttributes = new { @id = "LoginID", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })

                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;<span id="StatusConsultant">&nbsp;</span>
                    </div>
                </div>

                <div class="position-relative form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-5 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "Passwd", @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;
                    </div>
                </div>

                <div class="position-relative form-group">
                    <label class="control-label col-md-5 required">Confirm Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control required" onchange="validateConsPwd()" id="txtConsCnfmPassword" />
                       
                    </div>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp; <span id="lblAltConsPwd">&nbsp;</span>
                </div>

            </div>
            <div class="col-6 ">
                <div class="position-relative form-group">
                    @Html.LabelFor(model => model.EMail, "Email", htmlAttributes: new { @class = "control-label col-md-5 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @id = "txtEmail1", @class = "form-control", @onchange = "ValidateEmail1()" } })
                        @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })

                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;<span id="lblEmail1">&nbsp;</span>
                    </div>
                </div>

                <div class="position-relative form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-5 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @id = "txtMob", @class = "form-control", @maxlength = "10" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;<span id="lblMob1">&nbsp;</span>
                    </div>
                </div>

                <div class="position-relative form-group">
                    @Html.Label("User Type", htmlAttributes: new { @class = "control-label col-md-5 required" })
                    <div class="col-md-10">
                        @Html.DropDownList("UserTypeID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserTypeID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="position-relative form-group" id="divRole">
                    @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleMaster, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="position-relative form-group" id="divCust">
                    @Html.LabelFor(model => model.Customer, "Customer", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.DropDownList("Customer_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" id="createconsultant" value="Create" class="btn btn-primary"/> 
                    <div class="col-lg-3" style="float:right;">
                        @Html.ActionLink("Back to List", "Index", "User")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#createconsultant").click(function () {
            debugger;
            $("#createconsultant").prop("disabled", true);
            SubmitConsultant();
        });
        
        $("#txtName1").keypress(function(event){
            var inputValue = event.which;
            // allow letters and whitespaces only.

            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
                $("#lblName1").html("Not Allowed").show().fadeOut("slow", function () { $("#lblName1").html(" ") });
                SubmitConsultant();
            }
            else {
                SubmitConsultant();
            }
        });

         $('#txtName1').on('focusout', function () {
            
            var CnstName = $("#txtName1").val().trim();
            if (CnstName == "") {
                $("#lblName1").html("Please Enter valid Name").show();
                SubmitConsultant();
            }
            else {
                $.ajax({
                url: '@Url.Action("NameAvailability", "User")',
                type: "GET",
                data: { namedata: CnstName },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#lblName1").html("This Name is already taken,please Try another").show();
                        SubmitConsultant();
                    }
                    else {
                        $("#lblName1").html("");
                        SubmitConsultant();
                    }

                },
                error: function (err) {

                    alert(err);
                }
            });
            }

         });

        $('#LoginID').on('focusout', function () {
           
            var CnstUserName = $("#LoginID").val().trim();
            if (CnstUserName == "") {
                $("#StatusConsultant").html("Please Enter valid LoginId").show();
                SubmitConsultant()
            }
            else {
                $.ajax({
                url: '@Url.Action("UsernameAvailability", "User")',
                type: "GET",
                data: { userdata: CnstUserName },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#StatusConsultant").html("This LoginId is already taken , please select another").show();
                        SubmitConsultant()
                    }
                    else {
                        $("#StatusConsultant").html("");
                        SubmitConsultant()
                    }

                },
                error: function (err) {

                    alert(err);
                }
            });
            }

        });

         $("#txtMob").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
             if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                 e.preventDefault();
                $("#lblMob1").html("Numbers Only").show().fadeOut("slow");
              
            }
         });

        $("#txtMob").blur(function () {
            
            phone = $(this).val();
            phone = phone.replace(/[^0-9]/g,'');
            if (phone.length != 10) {
                $("#lblMob1").html("Phone number must be 10 digits").show().fadeOut(2000);
                SubmitConsultant();
            }
            else {
                $("#lblMob1").html("").hide();
                SubmitConsultant();
            }
        });

        $("#Passwd,#txtConsCnfmPassword").bind('copy paste cut', function (e) {
            e.preventDefault();
         });
    });
 

</script>

<script>
    $("#UserTypeID").change(function () {
        var Id = $(this).val();
        if (Id == 1 || Id == 4)
        {
            $("#divRole").hide();
            $("#divCust").hide();
        }
        else if (Id == 2)
        {
            $("#divRole").show();
            $("#divCust").hide();
        }
        else if (Id = 3) {
            $("#divRole").show();
            $("#divCust").show();
        }
    });

    var result = "Success";
   
    function ValidateEmail1() {
        
        var email1 = document.getElementById("txtEmail1").value;
        var lblEmail1 = document.getElementById("lblEmail1");
        lblEmail1.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (email1 = "" || !expr.test(email1)) {
            lblEmail1.innerHTML = "Please enter valid email address.";
            result = "error";
        }
        else {
            result = "Success";
        }
        SubmitConsultant()
    }

    function validateConsPwd() {
       
        var Passwd = document.getElementById("Passwd").value;
        var txtConsCnfmPassword = document.getElementById("txtConsCnfmPassword").value;
        var lblAltConsPwd = document.getElementById("lblAltConsPwd");
        lblAltConsPwd.innerHTML = "";
        if (Passwd != txtConsCnfmPassword) {
            lblAltConsPwd.innerHTML = "password does not match";
            result = "error";
        }
        else {
            result = "Success";
        }
        SubmitConsultant()
    }


    

    function SubmitConsultant() {
        
        //alert("HI");
        var Name1 = $("#txtName1").val();
        //var Desc = $("#txtDesc").val();
        var Mob = $("#txtMob").val();
        var Email1 = $("#txtEmail1").val();
        var LoginID = $("#LoginID").val();
        var Passwd = $("#Passwd").val();
        var UserTypeID = $("#UserTypeID").val();
        var Role_Data = $("#Role_Data").val();
        var Cust = $("#Cust").val();
        
        //var txtConsCnfmPassword = $("#txtConsCnfmPassword").val();

        var lblName1 = $("#lblName1").text(); // val();
        //var lblDesc = $("#lblDesc").text();
        var lblMob1 = $("#lblMob1").text();
        var lblEmail1 = $("#lblEmail1").text();
        var Status1 = $("#StatusConsultant").text();
        var lblAltConsPwd = $("#lblAltConsPwd").text();

        if (Name1.length > 0 && Mob.length > 0 && Email1.length > 0 && LoginID.length > 0 && Passwd.length > 0 &&
            lblName1 == "" &&  lblMob1 == "" && lblEmail1 == "" && Status1 == "" && lblAltConsPwd == "") {

            $("#createconsultant").prop("disabled", false);
        }
        else {
            $("#createconsultant").prop("disabled", true);
        }
    }
</script>

<script type="text/javascript">
    $(function () {
        var msg = '@ViewBag.Message';
        if (msg == 'True')
        {
        alert("Enter the Details");
        }
    });

    $(document).ready(function () {
        $("#createconsultant").prop('disabled', true);
        $("#divRole").hide();
        $("#divCust").hide();
    });
</script>


