@model ProACC_DB.UserMaster
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="~/Asset/css/intlTelInput.css" rel="stylesheet" />
<script src="~/Asset/js/intlTelInput.js"></script>
<script src="~/Asset/js/intlTelInput.min.js"></script>

<style>
    .required::after {
        content: "*";
        font-weight: bold;
        color: red;
    }

    /*span {
        color: red;
        font-size: 14px;
    }*/
</style>
<a class="card-title">User Updation</a>
<hr />
<div style="padding:1em;">
    <div class="row">
        <div class="col-6">
            <input type="hidden" id="UserId" value="@Model.UserId" />
            <input type="hidden" id="pcre_on" value="@Model.Cre_on" />
            <input type="hidden" id="pcre_By" value="@Model.Cre_By" />
            @*<input type="hidden" id="UserId" value="@Model.Password" />*@

            <div class="form-group">
                <label class="control-label col-md-4 required">Customer Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="userMasterName" value="@Model.Name" />
                    @*<span id="lblCompanyName" style="color:red" />*@
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblName1">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="txtPassword" value="@Model.Password" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblPassword">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-8 required">Confirm Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="txtCnfmPassword" value="@Model.Password" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblCnfmPassword">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtUserEmail" value="@Model.EMail" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblUserEmail">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                    <label class="control-label col-md-4 required">Contact Person Phone</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" maxlength="10" id="txtMobile" value="@Model.Phone" />
                    </div>
                    <div>
                        &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblMobile">&nbsp;</span>
                    </div>
            </div>

            @*<div class="form-group">
                <label class="control-label col-md-5 required">Contact Person Phone</label>
                <div class="col-md-10">
                    <input type="hidden" class="form-control" value="@Model.Countrycode" id="selectedCountry">
                    <input type="tel" class="form-control" id="txtMobile" value="@Model.Phone" style="width: 135%;">
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp; <span id="valid-msg" class="hide Class_span">&nbsp;</span>
                    &nbsp;&nbsp;&nbsp;<span id="error-msg" class="hide Class_span">&nbsp;</span>
                </div>
            </div>*@

        </div>

        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4 required">Login Id</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="LoginUserID" value="@Model.LoginId" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblLoginUserID">&nbsp;</span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-4 required">User Type</label>
                <div class="col-md-10">
                    <select class="form-control" id="UserTypeID">
                        <option value="0">Select User</option>
                        @foreach (var item in ViewBag.UserTypeID)
                        {
                            if (item.UserTypeID == Model.UserTypeID)
                            {
                                <option value="@item.UserTypeID" selected>@item.UserType</option>
                            }
                            else
                            {
                                <option value="@item.UserTypeID">@item.UserType</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="UserTypeID">&nbsp;</span>
                </div>
            </div>

            <div class="form-group" id="divRole">
                <label class="control-label col-md-4 required">Role</label>
                <div class="col-md-10">
                    <select class="form-control" id="RoleID">
                        <option value="0">Select Role</option>
                        @foreach (var item in ViewBag.RoleID)
                        {
                            if (item.RoleId == Model.RoleID)
                            {
                                <option value="@item.RoleId" selected>@item.RoleName</option>
                            }
                            else
                            {
                                <option value="@item.RoleId">@item.RoleName</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="RoleID">&nbsp;</span>
                </div>
            </div>


            <div class="form-group" id="divCust">
                <label class="control-label col-md-4 required">Industry Sector</label>
                <div class="col-md-10">
                    <select class="form-control" id="Customer_Id">
                        <option value="0">Select Customer</option>
                        @foreach (var item in ViewBag.Customer_Id)
                        {
                            if (item.Customer_ID == Model.Customer_Id)
                            {
                                <option value="@item.Customer_ID" selected>@item.Company_Name</option>
                            }
                            else
                            {
                                <option value="@item.Customer_ID">@item.Company_Name</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="Customer_Id">&nbsp;</span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Update User" id="btnsaveUser" class="btn btn-primary" />
                <a class="btn btn-success" id="btnAdduser"><i class="fa fa-plus"></i>Add New User</a>
                <div class="col-lg-3" style="float:right;">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("RedirectToUserList", Url.Action("Index", "User"))

<script>
    $(document).ready(function () {
        var Id = $("#UserTypeID").val();
         if (Id == 1||Id == 4||Id == 0) {
            $("#divRole").hide();
            $("#divCust").hide();
        }
        else if (Id == 2)
        {
            $("#divRole").show();
            $("#divCust").hide();
        }
        else if (Id = 3) {
            $("#divRole").show();
            $("#divCust").show();
        }

        $('#LoginUserID').attr("readonly", true);
        $('#UserTypeID').attr("disabled", true);
        $('#RoleID').attr("disabled", true);
        $('#Customer_Id').attr("disabled", true);

        $("#btnAdduser").click(function () {
            window.location.href = "@Url.Action("CreateUsers", "User")";
        });

    $("#UserTypeID").change(function () {
        var Id = $(this).val();
        if (Id == 1) {
            $("#divRole").hide();
            $("#divCust").hide();
        }
        else if (Id == 2)
        {
            $("#divRole").show();
            $("#divCust").hide();
        }
        else if (Id = 3) {
            $("#divRole").show();
            $("#divCust").show();
        }
         ValidateUser();
    });

        $("#userMasterName").keypress(function(event){
            var inputValue = event.which;
            // allow letters and whitespaces only.
            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                    event.preventDefault();
                $("#lblName1").html("Not Allowed").show().fadeOut(3000);
            }
            ValidateUser();
         });

          var typingTimer;                //timer identifier
        var doneTypingInterval = 1000;  //time in ms, 1 second for example

       // on keyup, start the countdown
         $('#userMasterName').on('keyup', function () {
          clearTimeout(typingTimer);
          typingTimer = setTimeout(userMasterNameCheck, doneTypingInterval);
        });

        //on keydown, clear the countdown
         $('#userMasterName').on('keydown', function () {
          clearTimeout(typingTimer);
         });

        function userMasterNameCheck() {
            var userMasterName = $("#userMasterName").val().trim();
             userMasterName = userMasterName.replace(/,/g, " ");
            var id = $("#UserId").val().trim();
            if (userMasterName == "") {
                $("#lblName1").html("Please Enter valid Name").show();
                ValidateUser();
            }
            else {
                $.ajax({
                url: '@Url.Action("NameAvailability", "User")',
                type: "GET",
                data: { namedata: userMasterName,id:id },
                dataType: "json",
                success: function (data) {
                    if (data != "success") {
                        $("#lblName1").html("This Name is already taken,please Try another").show();
                        ValidateUser();
                    }
                    else {
                        $("#lblName1").html("");
                        ValidateUser();
                    }
                },
                error: function (err) {

                    alert(err);
                }
            });
            }

        }

        //$('#userMasterName').on('focusout', function () {


        // });
    });


     $("#txtMobile").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
              event.preventDefault();
             //display error message
             $("#lblMobile").html("Numbers Only").show();
             ValidateUser()
         }
         else {
              $("#lblMobile").html("").hide();
             ValidateUser()
         }
         ValidateUser()
     });

    $("#txtMobile").blur(function () {

            phone = $(this).val();
            phone = phone.replace(/[^0-9]/g,'');
            if (phone.length != 10) {
                $("#lblMobile").html("Phone number must be 10 digits").show().fadeOut(2000);
                 ValidateUser();
            }
            else {
                $("#lblMobile").html("").hide();
                 ValidateUser();
            }
            ValidateUser();
     });

    //var input = document.querySelector("#txtMobile"),
    //    errorMsg = document.querySelector("#error-msg"),
    //    validMsg = document.querySelector("#valid-msg");

    //// Error messages based on the code returned from getValidationError
    //var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
    ////input.setCountry("gb");
    //var intl = window.intlTelInput(input, {
    //    utilsScript: "../../Asset/js/utils.js",
    //    separateDialCode: true
    //});

    //var reset = function () {
    //    input.classList.remove("error");
    //    errorMsg.innerHTML = "";
    //    errorMsg.classList.add("hide");
    //    validMsg.classList.add("hide");
    //};

    //var iti = window.intlTelInputGlobals.getInstance(input);
    ////iti.setCountry("in");
    //var a = $("#selectedCountry").val();
    //iti.setCountry(a);

    //var countryCode;
    //input.addEventListener('countrychange', function () {
    //    countryCode = intl.getSelectedCountryData().iso2;
    //    $("#selectedCountry").val(countryCode);
    //    //alert(countryCode)
    //})
    // // Validate on blur event
    //input.addEventListener('blur', function () {

    //    reset();
    //    if (input.value.trim()) {
    //        if (intl.isValidNumber()) {
    //            validMsg.classList.remove("hide");
    //        } else {
    //            input.classList.add("error");
    //            var errorCode = intl.getValidationError();
    //            errorMsg.innerHTML = errorMap[errorCode];
    //            errorMsg.classList.remove("hide");
    //        }
    //    }
    //    ValidateUser();
    //});

    //    // Reset on keyup/change event
    //    input.addEventListener('change', reset);
    //        input.addEventListener('keyup', reset);

    $("#txtUserEmail").on("blur", function (event) {

           var str = $(this).val();
           var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        if (!filter.test(str)) {
            $("#lblUserEmail").html("Email is not valid").show().fadeOut(5000);
            ValidateUser();
        }
        else {
            $("#lblUserEmail").html("");
            ValidateUser();
        }

    });

     $("#txtPassword,#txtCnfmPassword").bind('copy paste cut', function (e) {
            e.preventDefault();
     });

    $("#txtPassword").focusout(function () {
        //debugger;
        var str = $("#txtPassword").val().trim();
        var str1 = $("#txtCnfmPassword").val().trim();
        if (str != str1) {
            $("#lblCnfmPassword").html("Password Does not match kindly check").show().fadeOut(5000);
            Notiflix.Confirm.Show(
                'Confirm',
                'Do you want to update password ?',
                'Yes', 'No',
                function () {
                     $("#txtCnfmPassword").val("");
                            ValidateUser();
                }, function () {
                    location.reload();
                    // No button callback
                    //alert('If you say so...');
                }
            )

            //$.alert({
            //    title: 'Info !',
            //    content: 'Do you want to update password?',
            //    icon: 'fa fa-trash-o',
            //    animation: 'scale',
            //    closeAnimation: 'scale',
            //    opacity: 0.5,
            //    draggable: false,
            //    buttons: {
            //        'confirm': {
            //            text: 'Yes',
            //            btnClass: 'btn-danger',
            //            action: function (event, ui) {
            //                $("#txtCnfmPassword").val("");
            //                ValidateUser();
            //            }
            //        }
            //    },
            //});
        }

    });

    $("#txtCnfmPassword").focusout(function () {
        var str = $("#txtPassword").val().trim();
        var str1 = $("#txtCnfmPassword").val().trim();
        if (str != str1) {
            $("#lblCnfmPassword").html("Password Does not match kindly check").show().fadeOut(5000);
            ValidateUser();
        }
        else {
            $("#lblCnfmPassword").html("");
            ValidateUser();
        }
    })
    // function Onchangepassword() {
    //    var str = document.getElementById("txtcnfmPassword").value;
    //    var str2 = document.getElementById("txtPassword").value;
    //    var str3 = document.getElementById("lblCnfmPassword");
    //    if (str2 != str) {
    //        $("#lblCnfmPassword").html("Password Does not match kindly check").show().fadeOut(5000);
    //        //result = "error";
    //        $.alert({
    //            title: 'Info !',
    //            content: 'Do you want to update password?',
    //            icon: 'fa fa-trash-o',
    //            animation: 'scale',
    //            closeAnimation: 'scale',
    //            opacity: 0.5,
    //            draggable: false,
    //            buttons: {
    //                'confirm': {
    //                    text: 'Yes',
    //                    btnClass: 'btn-danger',
    //                }
    //            },
    //        });
    //    }
    //}
    //function Onchangeconfirmpassword() {
    //     var str = $("#txtPassword").val().trim();
    //    var str2 = $("#txtCnfmPassword").val().trim();

    //    if (str != str2) {
    //        $("#lblCnfmPassword").html("Password Does not match kindly check").show().fadeOut(5000);
    //        ValidateUser()
    //        return true;
    //    }
    //    else {
    //        $("#lblPassword").html("")
    //        $("#lblCnfmPassword").html("");
    //        ValidateUser()
    //        return false;
    //    }
    //}

    function ValidateUser() {

        var id = $("#UserId").val().trim();
        var userMasterName = $("#userMasterName").val().trim();
        var Mobile = $("#txtMobile").val().trim();
        var Email = $("#txtUserEmail").val().trim();
        var Password = $("#txtPassword").val().trim();

        var lblName = $("#lblName1").text().trim();
        //var lblMobile = $("#lblMobile").text().trim();
        var lblMobile = $("#error-msg").text().trim();
        var lblEmail = $("#lblUserEmail").text().trim();
        var lblPassword = $("#lblPassword").text().trim();
        var lblCnfmPassword = $("#lblCnfmPassword").text().trim();

        if (userMasterName != "" && Mobile != "" && Email != ""&& Password!="" && lblName == "" && lblMobile == "" && lblEmail ==""&&lblPassword=="" &&lblCnfmPassword=="" ) {
            $("#btnsaveUser").prop("disabled", false);
        }
        else {
            $("#btnsaveUser").prop("disabled", true);
        }
    }

     function ValidateName(data) {
       var letters = /^[A-Za-z._, ]+$/;
       if (!letters.test(data)) {
           return false;
       }
    }

    $("#btnsaveUser").on("click", function () {

        var id = $("#UserId").val().trim();
        var userMasterName = $("#userMasterName").val().trim();
        userMasterName = userMasterName.replace(/,/g, " ");
        var SelectedCountrycode = $("#selectedCountry").val();
        var Mobile = $("#txtMobile").val().trim();
        var Email = $("#txtUserEmail").val().trim();
         var Password = $("#txtPassword").val().trim();
         var LoginUserID = $("#LoginUserID").val().trim();
         var RoleID = $("#RoleID").val().trim();
         var UserTypeID = $("#UserTypeID").val().trim();
         var Customer_Id = $("#Customer_Id").val().trim();
         var pcre_By = $("#pcre_By").val().trim();
         var pcre_on = $("#pcre_on").val().trim();

         var model = {
             Name: userMasterName,
             EMail: Email,
             Countrycode: SelectedCountrycode,
             Phone: Mobile,
             LoginId: LoginUserID,
             Password: Password,
             RoleID: RoleID,
             UserTypeID: UserTypeID,
             Customer_Id: Customer_Id,
             Cre_By: pcre_By,
             Cre_On: pcre_on,
             UserId: id
         }
        if (userMasterName == "" || ValidateName(userMasterName) == false) {
            $("#lblName1").html("Please enter the User Name").show().fadeOut(5000);
        }
         else if (Mobile =="")
        {
            //$("#lblMobile").html("Please enter the Mobile Number").show().fadeOut(5000);
            $("#error-msg").html("Please enter the Mobile Number").show().fadeOut(5000);
        }
        else if (Email == "")
        {
            $("#lblUserEmail").html("Please enter the Email Phone").show().fadeOut(5000);
        }
        else if (Password=="")
        {
            $("#lblPassword").html("Please enter the correct Password and confirm password").show().fadeOut(5000);
            $("#txtPassword").val("");
            $("#txtCnfmPassword").val("");
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit","User")',
                //data: { Company_Name: CompanyName, IndustrySector_ID: IndustrySector, Phone: custphone, Email: custEmail ,Contact:Contact},
                data: {userMaster:model},
                    success: function (response) {
                        if (response == "success") {
                            Notiflix.Notify.Success('User Updated successfully..!', {cssAnimationStyle:'zoom', cssAnimationDuration:500,});
                   setTimeout(Redirect, 3000);
                            //$.alert({
                            //    title: 'Success !',
                            //    content: 'User Edited successfully..!',
                            //    icon: 'fa fa-rocket',
                            //    animation: 'scale',
                            //    closeAnimation: 'scale',
                            //    buttons: {
                            //        okay: {
                            //            text: 'Okay',
                            //            btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                            //            action: function (event, ui) {
                            //                $(this).remove();
                            //                var url = $("#RedirectToUserList").val();
                            //                location.href = url;
                            //            }
                            //        }
                            //    }
                            //});
                        }
                    },
                    failure: function (response) {
                       alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
            });
    }
     });
     function Redirect() {
        var url = $("#RedirectToUserList").val();
        location.href = url;
    }
    $(function () {
        var msg = '@ViewBag.Message';
        if (msg == 'True')
        {
        alert("Enter the Details");
        }
    });
</script>