@model IEnumerable<ProACC_DB.UserMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>

<a class="card-title">User List</a>
<hr />
<table class="table" id="tblUserTable">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cre_on)
            </th>
            <th>
                Email               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginId)
            </th>
            <th>
                Role
            </th>
            <th>
                User Type
            </th>
            <th>
                Customer Name
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            @Html.HiddenFor(modelItem => item.UserId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cre_on,"{MM/dd/yyyy}")
            </td>
            @Html.HiddenFor(modelItem => item.UserId)
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginId)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RoleMaster.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Type.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Company_Name)
            </td>

            <td>
                <div class="row">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit!" href="@Url.Action("Edit", "User", new { id = item.UserId })"></a> &nbsp;&nbsp;
                    &nbsp;<a href="#" class="userDelete fa fa-trash"></a><input type="hidden" value="@item.UserId" />
                </div>

                @*@Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId, @class = "userDelete" })*@
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
       
        $("#tblUserTable").dataTable({
           "order": [[1, 'desc']],
            //"ordering": false,
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": false
                }
            ]
        });
    });

   
    @*$(".userDelete").on("click", function () {
        
        var id = $(this).next().val();
       var retVal = confirm("Do you want to delete ?");
               if( retVal == true ) {
                $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","User")',
                data: { id:id },
                dataType: "json",
                success: function (response) {
                    if (response == "success") {
                        alert("User deleted successfully!");
                        location.reload();
                    }
                    else {
                         alert("User Holding some task!");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
                  return true;
               } else {
                  return false;
               }
    });*@

    $(".userDelete").on("click", function () {
        var id = $(this).next().val();
        $.confirm({
              title: 'Delete !',
              content: 'Do you want to delete ?',
              icon: 'fa fa-trash-o',
              animation: 'scale',
              closeAnimation: 'scale',
              opacity: 0.5,
              buttons: {
                 'confirm': {
                    text: 'Yes',
                    btnClass: 'btn-blue',
                    action: function () {
                      $.ajax({
                          type: "POST",
                           url: '@Url.Action("Delete","User")',
                           data: { id: id },
                           dataType: "json",
                           success: function (response) {
                              if (response == "success") {
                                 $.alert({
                                    title: 'Alert !',
                                    content: 'Customer deleted successfully!..!',// <br> with some <strong>HTML</strong> <em>contents</em>',
                                    icon: 'fa fa-rocket',
                                    animation: 'scale',
                                    closeAnimation: 'scale',
                                    buttons: {
                                       okay: {
                                          text: 'Okay',
                                          btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                            action: function (event, ui) {
                                               location.reload();
                                            }
                                       }
                                    }
                                 });
                              }
                              else {
                               $.alert({
                                 title: 'Alert !',
                                 content: 'User Holding some task..!',
                                 icon: 'fa fa-rocket',
                                 animation: 'scale',
                                 closeAnimation: 'scale',
                                  buttons: {
                                   okay: {
                                     text: 'Okay',
                                     btnClass: 'btn-wide mb-2 mr-2 btn btn-primary form-control',
                                     action: function (event, ui) {
                                        $(this).remove();
                                        location.reload();
                                     }
                                   }
                                  }
                               });
                              }
                           },
                           failure: function (response) {
                              alert(response.responseText);
                           },
                           error: function (response) {
                               alert(response.responseText);
                           }
                      });
                    }
                 },
                 cancel: function(){
                       $.alert('You clicked on <strong>cancel</strong>');
                 },
              }
         });
    });
</script>