@model IEnumerable<ProACC_DB.UserMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>

<a class="card-title">User List</a>
<hr />
<div style="max-width: 99.5%;">
<table class="table" id="tblUserTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Created</th>
            <th>Email</th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginId)
            </th>
            <th>Role</th>
            <th>User Type</th>
            <th>Customer Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cre_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                <a class="txtG" value="@item.Phone">@item.Phone.Replace(" ", "")</a>
                @*@Html.DisplayFor(modelItem => item.Phone.Replace(" ", ""))*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleMaster.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Type.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Company_Name)
            </td>

            @if (item.isActive == true)
            {
                <td>
                    <a class="txtG" value="@item.isActive">Active</a>
                </td>
                <td>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;<a class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit!" href="@Url.Action("Edit", "User", new { id = item.UserId })"></a> &nbsp;&nbsp;
                        &nbsp;<a href="#" class="userDelete fa fa-trash"></a><input type="hidden" value="@item.UserId" />
                    </div>
                </td>
            }
            else
            {
                <td>
                <a class="txtG" value="@item.isActive">In Active</a>
                </td>
                <td>
                    <a class="txtG" value="@item.isActive"></a>
                </td>
            }


            @*<td>
                <div class="row">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit!" href="@Url.Action("Edit", "User", new { id = item.UserId })"></a> &nbsp;&nbsp;
                    &nbsp;<a href="#" class="userDelete fa fa-trash"></a><input type="hidden" value="@item.UserId" />
                </div>
            </td>*@
        </tr>
        }
    </tbody>
</table>
</div>
<script>
    $(document).ready(function () {
        $("#prt").hide();
        $("#tblUserTable").dataTable({
           "order": [[2, 'desc']],
            //"ordering": false,
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": false
                }
            ]
        });
    });

   
    $(".userDelete").on("click", function () {
        var id = $(this).next().val();
         Notiflix.Confirm.Show(
                'Confirm',
                'Do you want to delete ?',
                'Yes', 'No',
                function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","User")',
                        data: { id: id },
                        dataType: "json",
                        success: function (response) {
                            if (response == "success") {
                                Notiflix.Notify.Success('User deleted Successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                                 location.reload();
                            }
                            else {
                                 Notiflix.Notify.Success('User holding some task..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500, });
                            }
                        }
                    });
                }, function () {
                    //location.reload();
                    // No button callback
                    //alert('If you say so...');
                }
            )
    });
</script>