
@model IEnumerable<ProAcc.BL.Model.AuditReport.ProjectMonitorModel>


<link href="~/Asset/Scripts/Datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Asset/Scripts/Datatable/jquery.dataTables.min.js"></script>
<script src="~/Asset/Scripts/Datatable/dataTables.bootstrap4.min.js"></script>


<table class="table" id="tblAudit">
    <thead>
        <tr>
            <th>Table</th>
            <th>Summary</th>
            <th>Action</th>
            <th style="width:67px">Action on</th>
            <th style="width:71px">Action BY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    <a class="txtG" value="@item.TABLE_NAME">@item.TABLE_NAME</a>
                </td>
                <td>
                    <a class="txtG" value="@item.SUMMARY">@item.SUMMARY</a>
                </td>
                <td>
                    <a class="txtG" value="@item.ACTION">@item.ACTION</a>
                </td>
                <td>
                    <a class="txtG" value="@item.CREATED_DATE">@item.CREATED_DATE</a>
                </td>
                <td>
                    <a class="txtG" value="@item.NAME">@item.NAME</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {

        $("#tblAudit").dataTable({

        });
    });

       
</script>
