@model ProACC_DB.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@*<h2>Details</h2>*@

<div>
    <a class="card-title">Customer Details</a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Password)
        </dd>*@

        <dt>
            customer Name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>*@

        <dt>
            Industry Sector
            @*@Html.DisplayNameFor(model => model.Work_Function)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work_Function)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Alternate Phone
            @*@Html.DisplayNameFor(model => model.AlternatePhone)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternatePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Alternate Email
            @*@Html.DisplayNameFor(model => model.AlternateEmail)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateEmail)
        </dd>

        <dt>
            Estimated Sale
            @*@Html.DisplayNameFor(model => model.EstimatedSale)*@
        </dt>

        <dd>

            @Html.DisplayFor(model => model.EstimatedSale)
        </dd>

        <dt>
            Last Contact
            @*@Html.DisplayNameFor(model => model.LastContact_Dt)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastContact_Dt)
        </dd>

        <dt>
            Next Action
            @*@Html.DisplayNameFor(model => model.NextAction_Dt)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextAction_Dt)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.NextContact_Dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextContact_Dt)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.LeadStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadSource)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Conv_Cust_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conv_Cust_Status)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cre_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cre_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cre_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cre_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Master.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Master.UserType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Accuracy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Accuracy)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
